<div class="container-geral">
    <mat-paginator

            *ngIf="books?.length > 0"
            [length]="totalBooks"
            [pageSize]="pageSize"
            [pageSizeOptions]="[10, 20, 30, 40]"
            (page)="changePage($event)">
    </mat-paginator>
    <div fxLayout="row wrap" fxFLex="100" fxLayoutAlign="center">
        <div fxLayout="row wrap" fxFlex="80" fxLayoutAlign="center" *ngIf="books?.length > 0">
            <app-book-card
                    *ngFor="let book of books"
                    [idTag]=""
                    [book]="book"
                    [deviceXs]="deviceXs"
                    [logged]="this.user ? true : false"
                    [canEdit]="true">
            </app-book-card>
        </div>
    </div>
</div>
<app-empty-content-message *ngIf="!loading && books?.length === 0"
                           message=" {{'PADRAO.NOT_FIND_RESULT' | translate }}">
</app-empty-content-message>
<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

