<div class="container-geral">
    <div class="informacoes-membro">
        <div class="foto-membro"><img
                [src]="member?.profile?.profileImage ? member.profile.profileImage : 'https://image.flaticon.com/icons/png/512/1361/1361728.png'">
        </div>
        <div class="dados-membro">
            <h2>{{ member?.profile?.name + ' ' + member?.profile?.lastName }}</h2>
        </div>
    </div>
    <div class="historia-membro">
        <h2>História do usuário</h2>
        <h3>{{ member?.title }}</h3>
        <p>{{ member?.story }}</p>
    </div>
</div>