<div class="container" fxLayout="row" fxLayoutAlign="space-around center">
    <div>
        <div>
            <h1>Página não encontrada</h1>

        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <p>
                Desculpa, esta página não existe.
            </p>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <button fxLayoutAlign="s"  mat-raised-button color="accent" style="color: white" (click)="redirect()">
                Ir para página inicial
            </button>
        </div>

    </div>


</div>
