<form>

    <div>
      <img mat-card-image src="assets/images/logo-bbooks-branco.png" alt="logo bbooks transparente">
    </div>
    <div>
      <span>Informe uma nova senha</span>
    </div>
  
    <div>
      <mat-form-field class="inputNovaSenha">
        <mat-label>Email</mat-label>
        <input matInput disabled id="emailNovaSenha">
      </mat-form-field>
    </div>
  
    <div>
      <mat-form-field class="inputNovaSenha">
        <mat-label>Nova Senha</mat-label>
        <input type="password" matInput id="novaSenhaNovaSenha">
        <mat-hint>Sua nova senha deve ter entre 8 e 20 caracters, os quais devem ser letras e números.</mat-hint>
      </mat-form-field>
    </div>

    <div>
        <mat-form-field class="inputNovaSenha">
          <mat-label>Confirmar Nova Senha</mat-label>
          <input type="password" matInput id="confirmarSenhaNovaSenha">
        </mat-form-field>
      </div>
  
    <div>
      <button mat-raised-button id="confirmarNovaSenha">Confirmar</button>
    </div>
  </form>