<div class="container-grupo">
    <div class="container-cabecalho-grupo">
        <div class="container-detalhes-cabecalho">
            <div class="informacoes-grupo">
                <h1>Nome do Perfil</h1>
                <p>30 seguidores</p>
            </div>
            <div class="botao-convidar-grupo">
                <button type="button" mat-raised-button color="primary"><span class="material-icons">queue</span>Seguir</button>
            </div>
        </div>
    </div>
    <div class="container-corpo-grupo">
        <div class="container-tab-group">
            <nav mat-tab-nav-bar >
                <a mat-tab-link>Feed</a>
                <a mat-tab-link>Sobre</a>
            </nav>
            <div class="container-mat-tab">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>