<div class="container-grupo" *ngIf="!publicProfileTO">
    <div class="criar-perfil-publico">
        <button type="button" mat-raised-button color="primary" [routerLink]="['criar-perfil-publico']">Criar Perfil
            Público
        </button>
    </div>
</div>
<div class="container-grupo" *ngIf="publicProfileTO">
    <div class="container-cabecalho-grupo">
        <div class="container-detalhes-cabecalho">
            <div class="informacoes-grupo">
                <h1>{{ publicProfileTO?.name }}</h1>
                <p>{{ publicProfileTO?.followers?.length }} seguidores</p>
            </div>
            <div class="botao-convidar-grupo">
                <button type="button" mat-raised-button color="primary" *ngIf="!isOwner && !isFollower" (click)="followPublicProfile()"><span
                        class="material-icons">queue</span>Seguir
                </button>
                <button type="button" mat-raised-button color="primary" *ngIf="!isOwner && isFollower" (click)="unfollowPublicProfile()"><span
                        class="material-icons">queue</span>Deixar de seguir
                </button>
            </div>
        </div>
    </div>
    <div class="container-corpo-grupo">
        <div class="container-tab-group">
            <nav mat-tab-nav-bar>
                <a mat-tab-link *ngFor="let link of links"
                   routerLinkActive #rla="routerLinkActive"
                   [routerLink]="link"
                   [active]="rla.isActive"
                > {{ link }}</a>
            </nav>
            <div class="container-mat-tab">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>