<div class="container-geral">
    <div class="container-pesquisar">
        <mat-form-field class="barra-pesquisar" appearance="outline">
            <mat-label>Pesquisar administrador</mat-label>
            <input matInput type="text">
            <button mat-button matSuffix mat-icon-button aria-label="Pesquisar">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="container-membros">
        <div class="container-membro">
            <div class="foto-membro"><img src="https://image.flaticon.com/icons/png/512/1361/1361728.png"></div>
            <div class="dados-membro">
                <p>Nome do membro</p>
                <p>Cargo na Competição</p>
            </div>
        </div>
        <div class="container-membro">
            <div class="foto-membro"><img src="https://image.flaticon.com/icons/png/512/1361/1361728.png"></div>
            <div class="dados-membro">
                <p>Nome do membro</p>
                <p>Cargo na Competição</p>
            </div>
        </div>
        <div class="container-membro">
            <div class="foto-membro"><img src="https://image.flaticon.com/icons/png/512/1361/1361728.png"></div>
            <div class="dados-membro">
                <p>Nome do membro</p>
                <p>Cargo na Competição</p>
            </div>
        </div>
        <div class="container-membro">
            <div class="foto-membro"><img src="https://image.flaticon.com/icons/png/512/1361/1361728.png"></div>
            <div class="dados-membro">
                <p>Nome do membro</p>
                <p>Cargo na Competição</p>
            </div>
        </div>
    </div>
</div>