<form [formGroup]="formCreatePublicProfile">
    <div class="container-geral">
        <div class="linha-input">
            <h2>{{ 'PERFIL_PUBLICO.NOME_PERFIL' | translate }}</h2>
            <mat-form-field appearance="outline">
                <mat-label>{{ 'PERFIL_PUBLICO.NOME_PERFIL' | translate }}</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
        </div>
        <div class="linha-input">
            <h2>{{ 'PERFIL_PUBLICO.DESCRICAO_PERFIL' | translate }}</h2>
            <mat-form-field appearance="outline">
                <mat-label>{{ 'PERFIL_PUBLICO.DESCRICAO_PERFIL' | translate }}</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
        </div>
        <div>
            <button type="button"
                    mat-raised-button
                    color="primary"
                    *ngIf="!userPublicProfileCreateTO"
                    (click)="createPublicProfile()">
                {{ 'PERFIL_PUBLICO.CRIAR_PERFIL' | translate }}
            </button>
            <div class="botoes-editar-do-create">
                <button
                        type="button"
                        mat-raised-button
                        color="primary"
                        *ngIf="userPublicProfileCreateTO"
                        (click)="editPublicProfile()">
                    {{ 'PERFIL_PUBLICO.EDITAR' | translate }}
                </button>
                <button
                        type="button"
                        mat-raised-button
                        *ngIf="userPublicProfileCreateTO"
                        [routerLink]="['/perfil-publico/' + userPublicProfileCreateTO?.id]">
                    {{ 'PERFIL_PUBLICO.CANCELAR' | translate }}
                </button>
            </div>
        </div>
    </div>
</form>