<div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="center end" fxLayoutGap="20px"
     fxLayoutAlign.xs="space-around center">
    <mat-form-field>
        <mat-label>Pesquise um livro</mat-label>
        <input matInput type="text" [(ngModel)]="search">
        <mat-icon matSuffix mat-icon-button>search</mat-icon>
    </mat-form-field>
    <mat-form-field fxFlex="40" fxFlex.xs>
        <mat-chip-list #chipList aria-label="filter selection">
            <mat-chip
                    *ngFor="let element of filter"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(element)">
                {{element | titlecase}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
                    placeholder="Filtro"
                    #fruitInput
                    [formControl]="filterCtrl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let status of filteredElements | async" [value]="status">
                {{status | titlecase}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>

<div fxLayout="row wrap" fxLayoutAlign="space-evenly start">
    <div class="card" *ngFor="let book of filterBooks()">
        <div class="container">
            <img [src]=book.image alt="Avatar" class="image" style="width:100%" [routerLink]="[routerlink + bookCase.id, book.id]">
            <div class="faixa" *ngIf="this.userBook">
                <mat-icon mat-icon-button [matMenuTriggerFor]="menu" *ngIf="book.status === bookStatus.LIDO" class="iconStatusLidos">turned_in</mat-icon>
                <mat-icon mat-icon-button [matMenuTriggerFor]="menu" *ngIf="book.status === bookStatus.LENDO" class="iconStatusLendo">turned_in</mat-icon>
                <mat-icon mat-icon-button [matMenuTriggerFor]="menu" *ngIf="book.status === bookStatus.INTERROMPIDO" class="iconStatusInterrompido">turned_in</mat-icon>
                <mat-icon mat-icon-button [matMenuTriggerFor]="menu" *ngIf="book.status === bookStatus.QUERO_LER" class="iconStatusQueroLer">turned_in</mat-icon>
                <mat-icon mat-icon-button [matMenuTriggerFor]="menu" *ngIf="book.status === bookStatus.EMPRESTADO" class="iconStatusEmprestado">turned_in</mat-icon>
                <mat-icon mat-icon-button [matMenuTriggerFor]="menu" *ngIf="book.status === bookStatus.RELENDO" class="iconStatusRelendo">turned_in</mat-icon>

                <mat-menu #menu="matMenu">
                    <div mat-menu-item (click)="changeStatusBook(bookStatus.LIDO, book.idUserBook, book)">
                        <mat-icon class="iconStatusLidos">turned_in</mat-icon>
                        <span>Lidos</span>
                    </div>
                    <div mat-menu-item (click)="changeStatusBook(bookStatus.LENDO, book.idUserBook, book)">
                        <mat-icon class="iconStatusLendo" >turned_in</mat-icon>
                        <span>Lendo</span>
                    </div>
                    <div mat-menu-item (click)="changeStatusBook(bookStatus.QUERO_LER, book.idUserBook, book)">
                        <mat-icon class="iconStatusQueroLer">turned_in</mat-icon>
                        <span>Quero ler</span>
                    </div>
                    <div mat-menu-item (click)="changeStatusBook(bookStatus.EMPRESTADO, book.idUserBook, book)">
                        <mat-icon class="iconStatusEmprestado">turned_in</mat-icon>
                        <span>Emprestado</span>
                    </div>
                    <div mat-menu-item (click)="changeStatusBook(bookStatus.RELENDO, book.idUserBook, book)">
                        <mat-icon class="iconStatusRelendo">turned_in</mat-icon>
                        <span>Relendo</span>
                    </div>
                    <div mat-menu-item (click)="changeStatusBook(bookStatus.INTERROMPIDO, book.idUserBook, book)">
                        <mat-icon class="iconStatusInterrompido">turned_in</mat-icon>
                        <span>Interrompido</span>
                    </div>
                </mat-menu>
            </div>
            <div class="middle">
                <div fxLayout="row" fxLayoutAlign="end center">
                    <button mat-icon-button (click)="openDialogAddBook(book,  this.bookCase.description)"
                            *ngIf="verifyrouter()">
                        <mat-icon>reply</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="verifyrouter()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="middleXs" *ngIf="deviceXs">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngIf="!verifyrouter()" (click)="openDialogAddBook(book,  null)">
                        <mat-icon>playlist_add</mat-icon>
                        <span>Adicionar</span>
                    </button>
                    <button mat-menu-item *ngIf="verifyrouter()"
                            (click)="openDialogAddBook(book,  this.bookCase.id)">
                        <mat-icon>reply</mat-icon>
                        <span>Mover</span>
                    </button>
                    <button mat-menu-item *ngIf="verifyrouter()">
                        <mat-icon>delete</mat-icon>
                        <span>Apagar</span>
                    </button>
                </mat-menu>
            </div>
        </div>
        <p class="textImage" fxLayout="row" fxLayoutAlign="start end">{{book.title}}</p>
    </div>
</div>

