<div fxLayout="row" fxLayoutAlign="space-evenly">
    <div fxLayout="row wrap" fxLayoutAlign="space-evenly end" fxLayoutGap="20px" fxLayout.xs="column">

        <mat-form-field>
            <mat-label>Pesquise um livro</mat-label>
            <input matInput type="text" [(ngModel)]="search">
            <mat-icon matSuffix mat-icon-button>search</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Filtro</mat-label>
            <mat-select>
                <mat-option *ngFor="let optionStatus of bookStatusFilter" [value]="optionStatus">
                    {{optionStatus}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
        <mat-card class="card" *ngFor="let book of filterBooks()">
            <!--                    <mat-card-header>-->
            <!--                        <div mat-card-avatar class="example-header-image" fxLayoutAlign.xs="center center"></div>-->
            <!--                        <mat-card-title>Shiba Inu</mat-card-title>-->
            <!--                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
            <!--                    </mat-card-header>-->
            <div class="cardImage" fxLayout="row" fxLayoutAlign="space-around center">
                <img src="{{book.volumeInfo.imageLinks.thumbnail}}">
            </div>
            <hr fxLayout="row" fxLayoutAlign="space-around center"
                style="height:2px;border-width:0;background-color:#36BF7F">
            <mat-card-actions>
                <!--                    <button mat-button>LIKE</button>-->
                <button mat-button>SHARE</button>
                <button mat-button>
                    <mat-icon>visibility</mat-icon>
                </button>

            </mat-card-actions>
        </mat-card>
    </div>
</div>

