<div class="row justify-content-md-center">
    <div class="col-md">
        <form [formGroup]="searchControl">
            <div class="form-row">
                <div class="col-md-3">
                    <div class="md-form">
                        <i class="fas fa-search prefix purple-text"></i>
                        <input mdbInput mdbValidate type="text" id="search" class="form-control"
                               formControlName="search" [(ngModel)]="search">
                        <label for="search">Procure um livro</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="md-form">
                        <button type="button" mdbBtn color="secondary" mdbWavesEffect (click)="openModal()">
                            Adicionar um livro novo
                        </button>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="md-form">
                        <div class="row justify-content-center">
                            <div class="dropdown" mdbDropdown>
                                <button mdbDropdownToggle mdbBtn color="secondary" class="dropdown-toggle waves-light"
                                        type="button"
                                        mdbWavesEffect>
                                    Todos
                                </button>
                                <div class="dropdown-menu dropdown-primary">
                                    <a class="dropdown-item" href="#">Lidos</a>
                                    <a class="dropdown-item" href="#">Não lidos</a>
                                    <a class="dropdown-item" href="#">Melhor avaliados</a>
                                    <a class="dropdown-item" href="#">Lançamentos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div>
            <div class="container-fluid">
                <div class="row justify-content-start">
                    <div class="col-md-2" *ngFor="let book of filterBooks()">
                        <!-- Card -->

                        <div class="card" style="background-color: #757575">

                            <!--                             [style.background-image]="'url('+ book.volumeInfo.imageLinks.thumbnail + ') '">-->
                            <!-- Card content -->
                            <div class="card-body">
                                <div class="view overlay zoom">
                                    <img src="{{book.volumeInfo.imageLinks.thumbnail}}" class="img-fluid " alt="zoom">
                                    <div class="mask flex-center waves-effect waves-light">
                                        <p class="white-text">{{book.volumeInfo.title}}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card">
                            <!-- Card content -->
                            <div class="card-body">
                                <div class="container">
                                    <div class="row justify-content-end">
                                        <div class="col-1">
                                            <mdb-icon far icon="eye"></mdb-icon>
                                        </div>

                                        <div class="col-1">
                                            <mdb-icon fas icon="edit"></mdb-icon>
                                        </div>

                                    </div>
                                </div>
                                <!-- Title -->
                                <!--                                <p class="card-title">{{book.volumeInfo.title}}</p>-->
                                <!-- Text -->
                                <!--                    <p fxLayoutAlign="center center"class="card-text block-with-text">{{book.volumeInfo.description}}</p>&ndash;&gt;-->
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
