.iconStatusLendo {
  color: darkorange;
}
.iconStatusLidos{
  color: #36BF7F;
}
.iconStatusQueroLer{
  color: bisque;
}
.iconStatusEmprestado{
  color: #394A59;
}
.iconStatusRelendo{
  color: #9bdfbf;
}
.iconStatusInterrompido{
  color: darkred;
}
