#search-bt {
  color: white;
}

.container-pesquisar {
  padding: 10px;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100%;
  height: 80px;
  flex-direction: row;
  display: flex;
  gap: 10px;
  text-align: center;
}

.container-pesquisar mat-form-field {
  width: 100%;
}

.container-pesquisar button {
  height: 36px;
  margin: 22px 25px 22px 0px;
}

.container-lista-amigos {
  width: 100%;
  height: 580px;
  margin-left: auto !important;
  margin-right: auto !important;
  margin: 1px solid black;
  background-color: white;
  padding: 10px;
}

.container-lista-amigos form {
  text-align: center;
}

.container-lista-amigos form mat-form-field {
  width: 570px;
  padding: 0px 25px;
}

.informacoes {
  text-align: left;
  width: calc(100% - 190px);
  padding: 10px;
}

.imagem-perfil {
  width: 60px;
  height: 60px;
  padding: 10px;
}

.container-amigo {
  padding: 15px;
  width: 400px;
  height: 90px;
}

.container-imagem {
  flex-direction: row;
  display: flex;
}

.informacoes-do-usuario {
  flex-direction: row;
  display: flex;
  text-align: center;
  width: 100%;
}

.adicionar-amigos {
  margin-top: auto;
  margin-bottom: auto;
  max-width: 100px;
}

.nome-usuario {
  color: black;
}
.not-find{
  background-color: #fdf5f1;
  border-color: #f28b66;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}

@media screen and (max-width: 850px) {
  .container-pesquisar {
    display: block;
    padding: 15px 0px 10px;
    height: 100px;
    gap: 0px;
  }


  .container-pesquisar mat-form-field {
    width: 100%;
    margin: 0px !important;
  }

  .container-pesquisar button {
    margin: 0px;
  }

  .container-imagem {
    display: block;
    gap: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .container-lista-amigos,
  .container-amigo {
    padding: 0px;
  }

  .container-amigo {
    height: 100px;
    width: 100%;
  }

  .adicionar-amigos {
    width: 100%;
    text-align: center;
  }

  .container-imagem-perfil {
    width: 60px;
  }

  .informacoes {
    width: calc(100% - 190px);
  }

  .container-lista-amigos form mat-form-field {
    width: 100%;
    padding: 0px;
  }
}
@media screen and (max-width: 400px) {
  .container-imagem-perfil {
    width: 40px;
  }
  .informacoes {
    width: calc(100% - 150px);
  }
  .imagem-perfil {
    width: 40px;
    height: 40px;
    padding: 5px;
  }
  .adicionar-amigos{
    padding: 0;
    max-width: 80px;
  }
}