<article [class.content]="!deviceXs" [class.content-mob]="deviceXs" (scroll)="onScroll($event)">
    <mat-toolbar class="navMenu" *ngIf="deviceXs">
        <button *ngIf="deviceXs" type="button" mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        Estante Virtual

    </mat-toolbar>
    <mat-drawer-container style="background-color: white">
        <mat-drawer #drawer [mode]="deviceXs?'over':'side'" [opened]="deviceXs?false:true" position="start"
                    fxFlex
                    fxLayoutGap
                    fxLayout="column" fxLayoutAlign="start space-between" [style.marginTop.px]="0"
                    [style.top.px]="sideBarScroll()" class="sidenav">
            <mat-list role="listitem">
                <h2 align="center" *ngIf="!deviceXs">Estante Virtual</h2>
                <mat-list role="list" class="list-width">
                    <mat-list-item role="listitem" class="list-item" matRipple routerLink="/book"
                                   routerLinkActive="activedList">
                        <button mat-mini-fab color="primary" >
                            <mat-icon>library_books</mat-icon>
                        </button>
                        <span class="itemPadding">Livros</span>
                    </mat-list-item>
                    <div  *ngIf="!verifyRouterLink('my')">
                        <mat-list role="list" *ngFor="let bookcase of bookcasesGbooks ">
                            <mat-list-item routerLinkActive="activedList" role="listitem"
                                           class="list-item" matRipple [routerLink]="['/book/', bookcase]">
                                <span class="subItemPadding">{{bookcase | titlecase }} </span>
                            </mat-list-item>
                        </mat-list>
                    </div>

                    <mat-list-item routerLinkActive="activedList"  role="listitem" class="list-item" matRipple
                                   routerLink="/mybooks">
                        <button mat-mini-fab color="primary">
                            <mat-icon>menu_book</mat-icon>
                        </button>
                        <span class="itemPadding">Meus Livros</span>
                    </mat-list-item>
                    <div *ngIf="verifyRouterLink('my')">
                        <mat-list role="list" *ngFor="let tag of tags ">
                            <mat-list-item  routerLinkActive="activedList" role="listitem"
                                            class="list-item" matRipple [routerLink]="['/mybooks', tag.id]">
                                <button *ngIf="!deviceXs" mat-icon-button [matMenuTriggerFor]="menu" class="iconSubItem" id="iconSubItem">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <button *ngIf="deviceXs" mat-icon-button [matMenuTriggerFor]="menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <span class="subItemPadding">{{tag.name | titlecase }}</span>
                                <mat-menu #menu="matMenu">
                                    <div mat-menu-item (click)="openDialogTag(tag)">
                                        <mat-icon>create</mat-icon>
                                        <span>Editar</span>
                                    </div>
                                    <div mat-menu-item (click)="deleteTag(tag.id)">
                                        <mat-icon>delete</mat-icon>
                                        <span>Remover</span>
                                    </div>
                                </mat-menu>
                            </mat-list-item>
                        </mat-list>
                    </div>

                    <mat-list-item *ngIf="verifyRouterLink('my')" role="listitem" class="list-item" matRipple
                                   (click)="openDialogTag(null)">
                        <span class="subItemPadding">Criar Tag</span>
                    </mat-list-item>

                </mat-list>
            </mat-list>

        </mat-drawer>
        <mat-drawer-content fxFlex>
            <br>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</article>
