<article [class.content]="!deviceXs" [class.content-mob]="deviceXs" (scroll)="onScroll($event)">
    <mat-toolbar class="navMenu">
        <button *ngIf="deviceXs" type="button" mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        Estantes

    </mat-toolbar>
    <mat-drawer-container style="background-color: white">
        <mat-drawer #drawer [mode]="deviceXs?'over':'side'" [opened]="deviceXs?false:true" position="start"
                    fxFlex
                    fxLayoutGap
                    fxLayout="column" fxLayoutAlign="start space-between" [style.marginTop.px]="10"
                    [style.top.px]="sideBarScroll()" class="sidenav">
            <mat-list role="listitem" class="list-width">
                <mat-list role="list" class="list-width">
                    <mat-list-item role="listitem" class="list-item" matRipple routerLink="/book"
                                   routerLinkActive="activedList">
                        <mat-icon>library_books</mat-icon>
                        <span class="itemPadding">Livros</span>
                    </mat-list-item>
                </mat-list>
                <mat-list-item routerLinkActive="activedList" role="listitem" class="list-item" matRipple
                               [routerLink]="['/book/my', 'all']">
                    <mat-icon>menu_book</mat-icon>
                    <span class="itemPadding">Meus Livros</span>
                </mat-list-item>
                <div>
                    <mat-list role="list" class="list-width" *ngFor="let bookcase of bookcases ">
                        <mat-list-item role="listitem" class="list-item" matRipple [routerLink]="['/book/my', bookcase.description]">
                            <span class="subItemPadding">{{bookcase.description | titlecase }} </span>
                        </mat-list-item>
                    </mat-list>
                </div>

                <mat-list-item *ngIf="verifyRouterLink('/book/list')" role="listitem" class="list-item" matRipple
                               (click)="openDialogBookCase()">
                    <span class="subItemPadding">Criar estante</span>
                </mat-list-item>
            </mat-list>

        </mat-drawer>
        <mat-drawer-content fxFlex>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</article>
