<div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px"
     fxLayoutAlign.xs="space-around center" fxLayoutGap.xs="5px">
    <mat-form-field appearance="outline">
        <mat-label>{{'HOME.BUSCARTEXT' | translate}}</mat-label>
        <input matInput type="text" class="barra-pesquisar" [(ngModel)]="search">
        <mat-icon matSuffix mat-icon-button>search</mat-icon>
    </mat-form-field>
    <mat-form-field  appearance="outline">
        <mat-chip-list #chipList aria-label="filter selection">
            <mat-chip
                    *ngFor="let element of filter"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(element)">
                {{element | titlecase}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
                    placeholder="{{'PADRAO.FILTRO' | translate}}"
                    #fruitInput
                    [formControl]="filterCtrl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let status of filteredElements | async" [value]="status">
                {{status | titlecase}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>

<div fxLayout="row wrap" fxLayoutAlign="start start"   fxLayoutAlign.xs="space-around center">
    <app-book-card
            *ngFor="let book of filterBooks()"
            [idTag]="bookCase.id"
            [book]="book"
            [deviceXs]="deviceXs"
            (bookReturn)="bookReturn($event)"
            [logged]="authService.getUser()"
            [canEdit]="verfiyPerfilPageisUserLogged()">
    </app-book-card>
</div>
