<div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="5px">
    <mat-card class="card-group">
        <div>
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px" fxLayoutGap.xs="10px">
                <div>
                    <span class="material-icons">event</span>
                </div>
                <div>
                    <div fxLayout="column" fxLayoutAlign="center start">
                        <div>
                            <h2>Nome do Evento</h2>
                        </div>
                        <div class="description">
                            <mat-card-content >
                                Descrição do evento
                            </mat-card-content>
                        </div>
                        <div>
                            <span>Data do Evento: 20/02/2021</span>
                        </div>
                        <div>
                            <span>600 interessados</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</div>

<div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="5px">
    <mat-card class="card-group">
        <div>
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px" fxLayoutGap.xs="10px">
                <div>
                    <span class="material-icons">event</span>
                </div>
                <div>
                    <div fxLayout="column" fxLayoutAlign="center start">
                        <div>
                            <h2>Nome do Evento</h2>
                        </div>
                        <div class="description">
                            <mat-card-content >
                                Descrição do evento
                            </mat-card-content>
                        </div>
                        <div>
                            <span>Data do Evento: 20/02/2021</span>
                        </div>
                        <div>
                            <span>600 interessados</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</div>