.card {
  max-width: 200px;
  margin: 0.5em;
  border-radius: 2px;
}
.cardImage{
  border-color:  rgba(0, 0, 0, 0.2);
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  max-width: 200px;
}
