<mat-dialog-content>
    <div fxLayout="column" fxLayoutAlign="space-around center">

        <h2 mat-dialog-title>{{title}}</h2>

        <div>
            <img class="cardImage" src="{{Book.image}}">
        </div>


        <form [formGroup]="formBook">
            <!--Linha form-->
            <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-between center">
                <mat-form-field appearance="fill">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="statusBook">
                        <mat-option *ngFor="let bookcase of AllStatus" [value]="bookcase">
                            {{bookcase | titlecase}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field color="accent" appearance="fill" *ngIf="formBook.get('statusBook')?.value?.toUpperCase() === status.LIDO || formBook.get('statusBook')?.value === statusEnglish.LIDO">
                    <mat-label>Data de conclusão</mat-label>
                    <input matInput [value]="this.Book.finishDate | date:'yyyy-MM-dd'" [matDatepicker]="picker1" formControlName="finishDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
            </div>
            <div formArrayName="tags" fxLayout="column"
                 fxLayout.xs="column"
                 fxLayoutAlign="start">
                <section *ngFor="let item of tagsControl.controls; let i = index;">
                    <mat-checkbox [formControlName]="i"> {{this.tags[i].name}}</mat-checkbox>
                </section>
            </div>
            <mat-error *ngIf="formBook.controls['statusBook'].hasError('required')">
                Status é obrigatório
            </mat-error>
        </form>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center">
        <button type="button" mat-flat-button color="accent"
                [disabled]="formBook.invalid"
                (click)="saveBook()"
                mat-button [mat-dialog-close]>
            {{this.buttonText}}
        </button>
    </div>
    <div>{{this.formBook.value | json}}</div>
</mat-dialog-content>

