<br>
<div>
    <mat-card fxLayout="row" fxLayoutAlign="space-around center"
         *ngIf="user?.id === this.authService.getUser().id">
        <div>

            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px" fxLayoutGap.xs="10px">
                <div>
                    <img class="cardImageReview"
                         src="{{user.profile?.profileImage ? user.profile?.profileImage : 'https://image.flaticon.com/icons/png/512/1361/1361728.png'}}">
                </div>
                <mat-card class="commentReview" (click)="openPost()">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div style="color:#5f5f5f;">
                            {{'POST.TEXT_POST_INPUT'  | translate}}
                        </div>
                    </div>
                </mat-card>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-around center">
                <button mat-button class="button-test-post">
                    <mat-icon style="color: #f28b66">assessment</mat-icon>
                    {{'PADRAO.ASK' | translate}}
                </button>
                <button mat-button class="button-test-post">
                    <mat-icon style="color: #394A59">insert_photo</mat-icon>
                    {{'PADRAO.PHOTO' | translate}}
                </button>
                <button mat-button class="button-test-post">
                    <mat-icon style="color: #ca4949">import_contacts</mat-icon>
                    {{'PADRAO.RESENHA' | translate}}
                </button>
            </div>
        </div>

    </mat-card>
    <br>

    <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px"
         infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            [fromRoot]="true"
            (scrolled)="onScroll()"
    >
        <mat-card fxLayout="row" fxLayoutAlign="space-around center" *ngFor="let post of posts"  >
            <div>
                <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px" fxLayoutGap.xs="10px">
                    <div>
                        <img class="cardImagePost"
                             src="{{user.profile?.profileImage ? user.profile?.profileImage : 'https://image.flaticon.com/icons/png/512/1361/1361728.png'}}">
                    </div>
                    <div >
                        <div fxLayout="column" fxLayoutAlign="center start" >
                            <div>
                                {{user.userName}}
                            </div>
                            <div class="text-date">
                                {{post.creationDate | date}}
                            </div>
                        </div>
                    </div>
                    <button mat-icon-button [matMenuTriggerFor]="menu" style="position: absolute; right: 0" *ngIf=" user.profile.id == authService.getUser().profile.id">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <div mat-menu-item (click)="openPost(post)">
                            <mat-icon>create</mat-icon>
                            <span>{{'PADRAO.EDITAR' | translate}}</span>
                        </div>
                        <div mat-menu-item (click)="delete(post)">
                            <mat-icon>delete</mat-icon>
                            <span>{{'PADRAO.REMOVER' | translate}}</span>
                        </div>
                    </mat-menu>
                </div>
                <br>
                <div fxLayout="row" fxLayoutAlign="start center" class="description">
                    {{post.description}}
                </div>
                <br>
                <div fxLayout="row" fxLayoutAlign="space-around center">
                    <mat-divider></mat-divider>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-around center">

                    <button mat-button [matMenuTriggerFor]="reacoes">
                        <mat-icon>{{ icon }}</mat-icon>
                        <span>{{ reacao }}</span>
                    </button>
                    <mat-menu #reacoes="matMenu" yPosition="above">
                        <button *ngFor="let reac of listaReacoes" mat-menu-item (click)="trocar(reac.reacao, reac.icon)">
                            <mat-icon>{{ reac.icon }}</mat-icon>
                            <span>{{ reac.reacao }}</span>
                        </button>
                    </mat-menu>
                    <button mat-button class="button-test-post">
                        <mat-icon >message</mat-icon>
                        {{'POST.COMENTAR' | translate}}
                    </button>
                    <button mat-button class="button-test-post">
                        <mat-icon>reply</mat-icon>
                        {{'POST.COMPARTILHAR' | translate}}
                    </button>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-around center">
                    <mat-divider></mat-divider>
                </div>
            </div>
        </mat-card>
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    </div>
</div>
