<br>
<div>
    <app-post-create
            *ngIf="user?.id === this.authService.getUser().id"
            [user]="user"
            [typePostControler]="typePostControler.feedPerfil"
    ></app-post-create>
    <br>

    <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px"
         infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            [fromRoot]="true"
            (scrolled)="onScroll()"
    >
        <app-reactions
                *ngFor="let post of (feedRedux$ | async)?.posts"
                [post]="post"
                [user]="user "
                [userPost]="user"
                [typePostControler]="typePostControler.feedPerfil"
        ></app-reactions>
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    </div>
</div>
