<div [hidden]="!hasDevices">
    <zxing-scanner
            [enable]="true"
            [torch]="torchEnabled"
            [device]="deviceCurrent"
            (deviceChange)="onDeviceChange($event)"
            (scanSuccess)="onCodeResult($event)"
            [formats]="formatsEnabled"
            [tryHarder]="tryHarder"
            (permissionResponse)="onHasPermission($event)"
            (camerasFound)="onCamerasFound($event)"
            (torchCompatible)="onTorchCompatible($event)"
            (scanError)="errorCatch($event)">
    </zxing-scanner>

    <section class="results" *ngIf="qrResultString && !isExchange">
        <div>
            <small>ISBN</small>
            <strong>{{ qrResultString }}</strong>
        </div>
        <button mat-icon-button (click)="clearResult()">&times;</button>
    </section>
    <section class="results" *ngIf="qrResultString && isExchange">
        <div>
            <small>{{'EXCHANGE.TOKEN_SCANNED' | translate}}</small>
        </div>
        <button mat-icon-button (click)="clearResult()">&times;</button>
    </section>
</div>

<br>
<ng-container *ngIf="hasPermission === undefined">

    <h2>{{'PADRAO.WAIT_PERMISSIONS' | translate}}</h2>

    <blockquote>
        {{'PADRAO.NOT_HAS_CAMERA' | translate}}.
    </blockquote>

</ng-container>

<ng-container *ngIf="hasPermission === false">

    <h2>{{'PADRAO.BAR_CODE_ERRO' | translate}} 😪</h2>

</ng-container>
<button type="button" mat-flat-button color="accent" style="width: 100%"
        [disabled]="formSearch.invalid" *ngIf="qrResultString && !isExchange"
        mat-button [mat-dialog-close]="qrResultString">

    {{'PADRAO.BUSCAR' | translate}}
</button>
<button type="button" mat-flat-button color="accent" style="width: 100%"
        [disabled]="formSearch.invalid" *ngIf="qrResultString && isExchange"
        mat-button [mat-dialog-close]="qrResultString">

    {{'EXCHANGE.NEXT' | translate}}
</button>
<br>