<div
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        [fromRoot]="true"
        (scrolled)="onScroll()"
>
    <div class="container-geral">
        <form [formGroup]="searchMembers">
            <div class="container-pesquisar">
                <mat-form-field class="barra-pesquisar" appearance="outline">
                    <mat-label>Pesquisar membro</mat-label>
                    <input matInput formControlName="nameMembers" (keyup)="searchMember()" (blur)="searchMember()" type="text">
                    <button mat-button matSuffix mat-icon-button aria-label="Pesquisar">
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </form>
        <div class="container-membros" *ngIf="members.length > 0">
            <div class="container-membro" *ngFor="let member of searchMember()">
                <div class="foto-membro"><img
                        [src]="member?.profile?.profileImage ? member.profile.profileImage : 'https://image.flaticon.com/icons/png/512/1361/1361728.png'">
                </div>
                <div class="dados-membro">
                    <p>{{ member?.profile?.name + ' ' + member?.profile?.lastName }}</p>
                    <p>{{ member?.role }}</p>
                    <button type="button" mat-raised-button color="primary"
                            [routerLink]="['/literary-competition/' + member?.memberId + '/story']">Ver história
                    </button>
                </div>
            </div>
        </div>
    </div>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
</div>