<div class="container-geral">
    <div class="container-membros">
        <div class="container-membro">
            <div class="foto-membro"><img src="https://image.flaticon.com/icons/png/512/1361/1361728.png"></div>
            <div class="dados-membro">
                <p>Nome do membro</p>
                <p>Cargo na Competição</p>
                <button type="button" mat-raised-button color="primary" [routerLink]="['/historia-membro']">Ver história</button>
            </div>
        </div>
        <div class="container-membro">
            <div class="foto-membro"><img src="https://image.flaticon.com/icons/png/512/1361/1361728.png"></div>
            <div class="dados-membro">
                <p>Nome do membro</p>
                <p>Cargo na Competição</p>
                <button type="button" mat-raised-button color="primary">Ver história</button>
            </div>
        </div>
        <div class="container-membro">
            <div class="foto-membro"><img src="https://image.flaticon.com/icons/png/512/1361/1361728.png"></div>
            <div class="dados-membro">
                <p>Nome do membro</p>
                <p>Cargo na Competição</p>
                <button type="button" mat-raised-button color="primary">Ver história</button>
            </div>
        </div>
        <div class="container-membro">
            <div class="foto-membro"><img src="https://image.flaticon.com/icons/png/512/1361/1361728.png"></div>
            <div class="dados-membro">
                <p>Nome do membro</p>
                <p>Cargo na Competição</p>
                <button type="button" mat-raised-button color="primary">Ver história</button>
            </div>
        </div>
    </div>
</div>