.block-with-text {
    overflow: hidden;
    position: relative; 
    line-height: 1.2em;
    max-height: 3.6em; 
    text-align: justify;  
    margin-right: -1em;
    padding-right: 1em;
  }.block-with-text:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }.block-with-text:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1.5em;
    margin-top: 0.2em;
    background: white;
  }
  #search-bt {
    color: white;
  }
  mat-card {
    margin: 30px;
  }
  #card-footer {
    margin-bottom: 0;
  }

.container-pesquisar {
  padding: 30px 30px 0;
  text-align: center;
}

.barra-pesquisar {
  width: 70%;
}

.container-geral {
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 75%;
}

section {
  width: 100%;
  height: 400px;
  background-color: #FFF;
}

section .container-bbooks h1 { /* Configuração do título da section/manchete */
  font-size: 40px;
  padding-top: 55px;
}

section .container-bbooks h2 { /*Configuração do subtítulo da section*/
  font-size: 21px;
  margin-top: 25px;
  color: #7F8C8D;
}

#banner {
  background-color: #00ACC8;
  max-width: 100%;
  height: 370px;
}

section .container-bbooks .banner h1 {
  color: #FFF;
  font-size: 30px;
  margin-left: 210px;
}

section .container-bbooks .banner h2 {
  color: #FFF;
  font-size: 20px;
  position: relative;
  margin-top: 115px;
  margin-left: -230px;
}

@media screen and (max-width: 800px) {
  .barra-pesquisar {
    width: 100%;
  }

  .container-geral{
    width: 100%;
  }
}