<div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column">
    <div>
        <mat-card class="card">
            <mat-card-content>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">
                    <div>
                        <img class="cardImage" src="{{book.image}}">
                    </div>
                    <div fxFlexOffset="1" fxLayout.xs="column">
                        <div fxLayout="row" fxLayoutAlign="space-around center">
                            <h2>{{book.title}}</h2>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div fxFlex="40">
                                {{stringAuthors}}
                            </div>
                            <div *ngIf="book.averageRating">
                                <app-rating *ngFor="let star  of stars;" [idStar]="star"
                                            [rating]="this.book.averageRating"></app-rating>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="end center">
                            <button type="button" *ngIf="book.idUserBook? false : true" mat-flat-button color="accent"
                                    (click)="openDialogAddBook(book)">
                                {{'ESTANTE.ADICIONAR_LIVRO' | translate}}
                            </button>
                            <button type="button" *ngIf="book.idUserBook" mat-flat-button color="accent"
                                    (click)="openDialogAddBook(book)">
                                {{'ESTANTE.EDITAR_LIVRO' | translate}}
                            </button>
                        </div>

                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-around center">
                    <p class="description">{{book.description}}</p>
                </div>
                <mat-list>
                    <mat-divider></mat-divider>
                    <mat-list-item>{{'BOOK.OUTRAS_INFO' | translate}}</mat-list-item>
                    <div fxLayout="row" fxLayoutAlign="space-around center">
                        <div fxFlex="20"><strong>{{'BOOK.EDITORA' | translate}}</strong></div>
                        <div fxFlex="20"><strong>{{'BOOK.PUPLICACAO' | translate}}</strong></div>
                        <div fxFlex="20"><strong>{{'BOOK.PAGINAS' | translate}}</strong></div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-around center">
                        <div fxFlex="20"><p> {{book.publisher}}</p></div>
                        <div fxFlex="20"><p> {{book.publishedDate}}</p></div>
                        <div fxFlex="20"><p> {{book.numberPage}}</p></div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-around center">
                        <div fxFlex="20"><strong>{{'BOOK.IDIOMA' | translate}}</strong></div>
                        <div fxFlex="20"><strong>{{'BOOK.AVALIACAO' | translate}}</strong></div>
                        <div fxFlex="20"></div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-around center">
                        <div fxFlex="20"><p> {{book.language}}</p></div>
                        <div fxFlex="20"><p> {{book.averageRating}}</p></div>
                        <div fxFlex="20"></div>
                    </div>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>
