<div class="geral">
    <div class="container-cinza">
        <div class="container-conteudo">
            <h2 class="titulo-competicao">{{ competitionTO?.title }}</h2>
            <p class="paragrafo-competicao">{{ competitionTO?.rules }}</p>
        </div>
    </div>
    <div class="container-branco">
        <div class="container-conteudo">
            <h2 class="titulo-competicao">Datas</h2>
            <p class="paragrafo-competicao">Competição criada em
                <strong>{{ competitionTO?.creationDate | date:'dd/MM/yyyy' }}</strong></p>
            <p class="paragrafo-competicao">
                Inscrições de <strong>{{ competitionTO?.subscriptionDate | date:'dd/MM/yyyy' }}</strong>
                até <strong>{{ competitionTO?.subscriptionFinalDate | date:'dd/MM/yyyy' }}</strong>
            </p>
            <p class="paragrafo-competicao">Fim da competição em
                <strong>{{ competitionTO?.finalDate | date:'dd/MM/yyyy' }}</strong></p>
        </div>
    </div>
    <!-- <div class="container-cinza">
        <div class="container-conteudo">
            <h2  class="titulo-competicao">Administradores</h2>
            <div class="container-membros">
                <div class="membro"  *ngFor="let administrator of administrators">
                    <div class="foto-membro"><img src="https://image.flaticon.com/icons/png/512/1361/1361728.png"></div>
                    <div class="nome-membro"><p>{{ administrator?.profile?.name + ' ' + administrator?.profile?.lastName }}</p></div>
                </div>
            </div>
            <div class="ver-todos-membros">
                <button type="button" mat-raised-button color="primary" [routerLink]="['/literary-competition/' + competitionTO?.id + '/administrators']">Ver todos os administradores</button>
            </div>
        </div>
    </div>
    <div class="container-branco">
        <div class="container-conteudo">
            <h2  class="titulo-competicao">Membros</h2>
            <div class="container-membros">
                <div class="membro" *ngFor="let member of members">
                    <div class="foto-membro"><img src="https://image.flaticon.com/icons/png/512/1361/1361728.png"></div>
                    <div class="nome-membro"><p>{{ member?.profile?.name + ' ' + member?.profile?.lastName }}</p></div>
                </div>
            </div>
            <div class="ver-todos-membros">
                <button [routerLink]="['/literary-competition/' + competitionTO?.id + '/members']" type="button" mat-raised-button color="primary">Ver todos os membros</button>
            </div>
        </div>
    </div> -->
    <div class="container-cinza">
        <div class="container-conteudo">
            <h2 class="titulo-competicao">Administradores</h2>
            <div class="ver-todos-membros">
                <div>
                    <button type="button" mat-raised-button color="primary"
                            [routerLink]="['/literary-competition/' + competitionTO?.id + '/administrators']">
                        Ver todos os administradores
                    </button>
                </div>
                <div>
                    <button *ngIf="isAdmin" [routerLink]="['/literary-competition/' + competitionTO?.id + '/add-admin']"
                            type="button"
                            mat-raised-button color="primary">Adicionar administrador
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-branco">
        <div class="container-conteudo">
            <h2 class="titulo-competicao">Membros</h2>
            <div class="ver-todos-membros">
                <div>
                    <button [routerLink]="['/literary-competition/' + competitionTO?.id + '/members']" type="button"
                            mat-raised-button color="primary">Ver todos os membros
                    </button>
                </div>
                <div>
                    <button *ngIf="isAdmin"
                            [routerLink]="['/literary-competition/' + competitionTO?.id + '/registrations']"
                            type="button"
                            mat-raised-button color="primary">Ver inscrições pendentes
                    </button>
                    <button *ngIf="!isMember  && !isAdmin" (click)="addMember()" type="button"
                            mat-raised-button color="primary">Clique para se inscrever
                    </button>
                    <button *ngIf="isMember" (click)="removeMember()" type="button"
                            mat-raised-button color="primary">Cancelar inscrição
                    </button>
                    <button *ngIf="isMember"
                            [routerLink]="['/literary-competition/' + member.memberId + '/create-story']" type="button"
                            mat-raised-button color="primary">Escrever história
                    </button>
                </div>

            </div>
        </div>
    </div>

    <div class="container-cinza">
        <div class="container-conteudo">
            <h2 class="titulo-competicao">Resultado</h2>
            <p class="paragrafo-competicao">{{ competitionTO?.winnerProfile ? competitionTO.winnerProfile : "Aguardando vencedor"}}</p>
        </div>
    </div>
    <div class="container-branco" *ngIf="isAdmin">
        <div class="container-conteudo">
            <h2 class="titulo-competicao">Editar Competição</h2>
            <div>
                <button type="button" mat-raised-button color="primary"
                        [routerLink]="['/literary-competition/' + competitionTO?.id + '/edit']">Editar
                </button>
            </div>
        </div>
    </div>
</div>