<div class="geral">
    <div class="container-cinza">
        <div class="container-conteudo">
            <h2 class="titulo-competicao">{{ competitionTO?.title }}</h2>
            <p class="paragrafo-competicao">{{ competitionTO?.rules }}</p>
        </div>
    </div>
    <div class="container-branco">
        <div class="container-conteudo">
            <h2 class="titulo-competicao">{{ 'COMPETICAO_LITERARIA.DATAS' | translate }}</h2>
            <p class="paragrafo-competicao">{{ 'COMPETICAO_LITERARIA.COMPETICAO_CRIADA_EM' | translate }}
                <strong>{{ competitionTO?.creationDate | date:'dd/MM/yyyy' }}</strong></p>
            <p class="paragrafo-competicao">
                {{ 'COMPETICAO_LITERARIA.INSCRICOES_DE' | translate }} <strong>{{ competitionTO?.subscriptionDate | date:'dd/MM/yyyy' }}</strong>
                {{ 'COMPETICAO_LITERARIA.ATE' | translate }} <strong>{{ competitionTO?.subscriptionFinalDate | date:'dd/MM/yyyy' }}</strong>
            </p>
            <p class="paragrafo-competicao">{{ 'COMPETICAO_LITERARIA.FIM_COMPETICAO_EM' | translate }}
                <strong>{{ competitionTO?.finalDate | date:'dd/MM/yyyy' }}</strong></p>
        </div>
    </div>
    <!-- <div class="container-cinza">
        <div class="container-conteudo">
            <h2  class="titulo-competicao">Administradores</h2>
            <div class="container-membros">
                <div class="membro"  *ngFor="let administrator of administrators">
                    <div class="foto-membro"><img src="https://image.flaticon.com/icons/png/512/1361/1361728.png"></div>
                    <div class="nome-membro"><p>{{ administrator?.profile?.name + ' ' + administrator?.profile?.lastName }}</p></div>
                </div>
            </div>
            <div class="ver-todos-membros">
                <button type="button" mat-raised-button color="primary" [routerLink]="['/literary-competition/' + competitionTO?.id + '/administrators']">Ver todos os administradores</button>
            </div>
        </div>
    </div>
    <div class="container-branco">
        <div class="container-conteudo">
            <h2  class="titulo-competicao">Membros</h2>
            <div class="container-membros">
                <div class="membro" *ngFor="let member of members">
                    <div class="foto-membro"><img src="https://image.flaticon.com/icons/png/512/1361/1361728.png"></div>
                    <div class="nome-membro"><p>{{ member?.profile?.name + ' ' + member?.profile?.lastName }}</p></div>
                </div>
            </div>
            <div class="ver-todos-membros">
                <button [routerLink]="['/literary-competition/' + competitionTO?.id + '/members']" type="button" mat-raised-button color="primary">Ver todos os membros</button>
            </div>
        </div>
    </div> -->
    <div class="container-cinza">
        <div class="container-conteudo">
            <h2 class="titulo-competicao">{{ 'COMPETICAO_LITERARIA.ADMINISTRADORES' | translate }}</h2>
            <div class="ver-todos-membros">
                <div>
                    <button type="button" mat-raised-button color="primary"
                            [routerLink]="['/literary-competition/' + competitionTO?.id + '/administrators']">
                        {{ 'COMPETICAO_LITERARIA.VER_TODOS_ADMINISTRADORES' | translate }}
                    </button>
                </div>
                <div>
                    <button *ngIf="isAdmin" [routerLink]="['/literary-competition/' + competitionTO?.id + '/add-admin']"
                            type="button"
                            mat-raised-button color="primary">{{ 'COMPETICAO_LITERARIA.ADICIONAR_ADMINISTRADOR' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-branco">
        <div class="container-conteudo">
            <h2 class="titulo-competicao">{{ 'COMPETICAO_LITERARIA.PARTICIPANTES' | translate }}</h2>
            <div class="ver-todos-membros">
                <div>
                    <button [routerLink]="['/literary-competition/' + competitionTO?.id + '/members']" type="button"
                            mat-raised-button color="primary">{{ 'COMPETICAO_LITERARIA.VER_TODOS_PARTICIPANTES' | translate }}
                    </button>
                </div>
                <div>
                    <button *ngIf="isAdmin"
                            [routerLink]="['/literary-competition/' + competitionTO?.id + '/registrations']"
                            type="button"
                            mat-raised-button color="primary">{{ 'COMPETICAO_LITERARIA.INSCRICOES_PENDENTES' | translate }}
                    </button>
                    <button *ngIf="!isMember  && !isAdmin && verifyDateStart(competitionTO?.subscriptionDate) && verifyDate(competitionTO?.subscriptionFinalDate)" (click)="addMember()" type="button"
                            mat-raised-button color="primary">{{ 'COMPETICAO_LITERARIA.CLIQUE_INSCREVER' | translate }}
                    </button>
                    <button *ngIf="isMember && verifyDate(competitionTO?.subscriptionFinalDate)" (click)="removeMember()" type="button"
                            mat-raised-button color="primary">{{ 'COMPETICAO_LITERARIA.CANCELAR_INSCRICAO' | translate }}
                    </button>
                    <button *ngIf="isMember && verifyDate(competitionTO?.subscriptionFinalDate)"
                            [routerLink]="['/literary-competition/' + member.memberId + '/create-story']" type="button"
                            mat-raised-button color="primary">{{ 'COMPETICAO_LITERARIA.ESCREVER_HISTORIA' | translate }}
                    </button>
                    <button *ngIf="isMember && member?.story"
                            (click)="openDialogSeeStory(member)" type="button"
                            mat-raised-button color="primary">{{ 'COMPETICAO_LITERARIA.VER_HISTORIA' | translate }}
                    </button>
                </div>
                <p *ngIf="isMember && member?.status === 'pending' && !member?.story"
                        type="button" disabled
                        mat-raised-button color="primary">{{ 'COMPETICAO_LITERARIA.TEXTO_ANALISE' | translate }}
                </p>
                <p *ngIf="isMember && member?.status === 'pending' && member?.story"
                        type="button" disabled
                        mat-raised-button color="primary">{{ 'COMPETICAO_LITERARIA.AGUARDE_APROVACAO' | translate }}
                </p>
                <p *ngIf="isMember && member?.status === 'accept' && member?.story"
                   type="button" disabled
                   mat-raised-button color="primary">{{ 'COMPETICAO_LITERARIA.INSCRICAO_APROVADA' | translate }}
                </p>
            </div>
        </div>
    </div>

    <div class="container-cinza">
        <div class="container-conteudo">
            <h2 class="titulo-competicao">{{ 'COMPETICAO_LITERARIA.RESULTADO' | translate }}</h2>
            <p class="paragrafo-competicao">{{ competitionTO?.winnerProfile ? competitionTO.winnerProfile : 'COMPETICAO_LITERARIA.AGUARDANDO_VENCEDOR' | translate }}</p>
        </div>
    </div>
    <div class="container-branco" *ngIf="isAdmin && verifyDate(competitionTO?.finalDate)">
        <div class="container-conteudo">
            <h2 class="titulo-competicao">{{ 'COMPETICAO_LITERARIA.EDITAR_COMPETICAO' | translate }}</h2>
            <div>
                <button type="button" mat-raised-button color="primary"
                        [routerLink]="['/literary-competition/' + competitionTO?.id + '/edit']">{{ 'COMPETICAO_LITERARIA.EDITAR' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>