<div class="geral">
    <div class="container-branco">
        <div class="container-conteudo">
            <h2 class="titulo-competicao">Título</h2>
            <p class="paragrafo-competicao">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate erat sed velit varius pharetra. Nullam sagittis ullamcorper libero a pretium. Morbi vestibulum, neque quis sollicitudin elementum, metus mauris fringilla mi, eget elementum neque tellus sed neque. Praesent orci ligula, pharetra eget diam eget, rutrum sagittis turpis. Integer eu felis purus. Nam facilisis eleifend risus, vel faucibus dui commodo at. Nulla ut lacus facilisis, tincidunt lorem in, finibus nibh. Aenean tristique volutpat dui eu finibus. Nam dapibus, dolor et dictum finibus, nulla neque placerat sapien, vitae porttitor sem erat sed ipsum. Nam convallis massa orci. Aenean dapibus hendrerit libero eu convallis.</p>
        </div>
    </div>
    <div class="container-cinza">
        <div class="container-conteudo">
            <h2  class="titulo-competicao">Regras</h2>
            <p class="paragrafo-competicao">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate erat sed velit varius pharetra. Nullam sagittis ullamcorper libero a pretium. Morbi vestibulum, neque quis sollicitudin elementum, metus mauris fringilla mi, eget elementum neque tellus sed neque. Praesent orci ligula, pharetra eget diam eget, rutrum sagittis turpis. Integer eu felis purus. Nam facilisis eleifend risus, vel faucibus dui commodo at. Nulla ut lacus facilisis, tincidunt lorem in, finibus nibh. Aenean tristique volutpat dui eu finibus. Nam dapibus, dolor et dictum finibus, nulla neque placerat sapien, vitae porttitor sem erat sed ipsum. Nam convallis massa orci. Aenean dapibus hendrerit libero eu convallis.</p>
        </div>
    </div>
    <div class="container-branco">
        <div class="container-conteudo">
            <h2 class="titulo-competicao">Datas</h2>
            <p class="paragrafo-competicao">Competição criada em <strong>31/01/2021</strong></p>
            <p class="paragrafo-competicao">Inscrições de <strong>14/02/2021</strong> até <strong>24/02/2021</strong></p>
            <p class="paragrafo-competicao">Fim da competição em <strong>31/03/2021</strong></p>
        </div>
    </div>
    <div class="container-cinza">
        <div class="container-conteudo">
            <h2  class="titulo-competicao">Administradores</h2>
            <div class="container-membros">
                <div class="membro">
                    <div class="foto-membro"><img src="https://image.flaticon.com/icons/png/512/1361/1361728.png"></div>
                    <div class="nome-membro"><p>Nome do membro</p></div>
                </div>
                <div class="membro">
                    <div class="foto-membro"><img src="https://image.flaticon.com/icons/png/512/1361/1361728.png"></div>
                    <div class="nome-membro"><p>Nome do membro</p></div>
                </div>
                <div class="membro">
                    <div class="foto-membro"><img src="https://image.flaticon.com/icons/png/512/1361/1361728.png"></div>
                    <div class="nome-membro"><p>Nome do membro</p></div>
                </div>
                <div class="membro">
                    <div class="foto-membro"><img src="https://image.flaticon.com/icons/png/512/1361/1361728.png"></div>
                    <div class="nome-membro"><p>Nome do membro</p></div>
                </div>
                <div class="membro">
                    <div class="foto-membro"><img src="https://image.flaticon.com/icons/png/512/1361/1361728.png"></div>
                    <div class="nome-membro"><p>Nome do membro</p></div>
                </div>
            </div>
            <div class="ver-todos-membros">
                <button type="button" mat-raised-button color="primary" [routerLink]="['/administradores-competicao']">Ver todos os administradores</button>
            </div>
        </div>
    </div>
    <div class="container-branco">
        <div class="container-conteudo">
            <h2  class="titulo-competicao">Membros</h2>
            <div class="container-membros">
                <div class="membro">
                    <div class="foto-membro"><img src="https://image.flaticon.com/icons/png/512/1361/1361728.png"></div>
                    <div class="nome-membro"><p>Nome do membro</p></div>
                </div>
                <div class="membro">
                    <div class="foto-membro"><img src="https://image.flaticon.com/icons/png/512/1361/1361728.png"></div>
                    <div class="nome-membro"><p>Nome do membro</p></div>
                </div>
                <div class="membro">
                    <div class="foto-membro"><img src="https://image.flaticon.com/icons/png/512/1361/1361728.png"></div>
                    <div class="nome-membro"><p>Nome do membro</p></div>
                </div>
                <div class="membro">
                    <div class="foto-membro"><img src="https://image.flaticon.com/icons/png/512/1361/1361728.png"></div>
                    <div class="nome-membro"><p>Nome do membro</p></div>
                </div>
                <div class="membro">
                    <div class="foto-membro"><img src="https://image.flaticon.com/icons/png/512/1361/1361728.png"></div>
                    <div class="nome-membro"><p>Nome do membro</p></div>
                </div>
            </div>
            <div class="ver-todos-membros"><button  [routerLink]="['/membros-competicao']" type="button" mat-raised-button color="primary">Ver todos os membros</button></div>
        </div>
    </div>
    <div class="container-cinza">
        <div class="container-conteudo">
            <h2  class="titulo-competicao">Resultado</h2>
            <p class="paragrafo-competicao">Nome do Vencedor</p>
        </div>
    </div>
</div>