<h2 mat-dialog-title>Criar uma Tag</h2>
<mat-dialog-content align="center">
    <form [formGroup]="formTag" class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Estante</mat-label>
            <input matInput placeholder="Ex. Literatura" formControlName="name">
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-flat-button color="accent"(click)="save()"
            [disabled]="formTag.invalid">
        Criar
    </button>
</mat-dialog-actions>
