<!-- 
<div id="espaco">

</div>
<form [formGroup]="cadastroControl">
    <div id="cabecalho-cadastro" class="form-rows">
        <div>
            <h1 class="form-group col-md-12">BBooks</h1>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <input type="text" class="form-control" id="inputNome" placeholder="Nome" formControlName="name" >
          </div>
          <div class="form-group col-md-8">
            <input type="text" class="form-control" id="inputSobrenome" placeholder="Sobrenome" formControlName="lastName" >
          </div>
      <div class="form-group col-md-12">
        <input type="email" class="form-control" id="inputEmail" placeholder="Email" formControlName="email">
        <small id="passwordHelpBlock" class="form-text text-muted">
            Informe um endereço de e-mail válido, pois você receberá um e-mail de confirmação.
          </small>
      </div>
      <div class="form-group col-md-12">
        <input type="text" class="form-control" id="inputNomeUsuario" placeholder="Nome de Usuário" formControlName="userName">
        <small id="nomeUsuarioHelpBlock" class="form-text text-muted">
            Seu nome de usuário pode ter letras, números e pontos finais.
          </small>
      </div>
      <div class="form-group col-md-6">
        <input type="password" class="form-control" id="inputSenha" placeholder="Senha" formControlName="password">
        <small id="passwordHelpBlock" class="form-text text-muted">
            Sua senha deve ter entre 8 e 20 caracteres, os quais devem ser letras e números.
          </small>
      </div>
      <div class="form-group col-md-6">
        <input type="password" class="form-control" id="inputConfirmarSenha" placeholder="Confirmar Senha">
      </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="cadastrar()">Próximo</button>
  </form> -->


  <form [formGroup]="cadastroControl">

    <div>
      <img mat-card-image src="assets/images/logo-bbooks-branco.png" alt="logo bbooks transparente">
    </div>
    <div>
      <span>Preencha o formulário para se cadastrar</span>
    </div>

    <div id="nomeSobrenome">
      <mat-form-field id="nome" class="inputCadastrar">
        <mat-label>Nome</mat-label>
        <input matInput id="nomeCadastrar" formControlName="name">
      </mat-form-field>

      <mat-form-field id="sobrenome" class="inputCadastrar">
        <mat-label>Sobrenome</mat-label>
        <input matInput id="sobrenomeCadastrar" formControlName="lastName">
      </mat-form-field>
    </div>
  
    <div>
      <mat-form-field class="inputCadastrar">
        <mat-label>Email</mat-label>
        <input type="email" matInput id="emailCadastrar" formControlName="email">
        <mat-hint>Informe um endereço de e-mail válido, pois você receberá um e-mail de confirmação.</mat-hint>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="inputCadastrar">
        <mat-label>Nome de Usuário</mat-label>
        <input matInput id="nomeUsuarioCadastrar" formControlName="userName">
        <mat-hint>Seu nome de usuário pode ter letras, números e pontos finais.</mat-hint>
      </mat-form-field>
    </div>


    <div id="senhaConfirmarSenha" >
      <mat-form-field class="inputCadastrar">
        <mat-label>Senha</mat-label>
        <input type="password"
        matInput
        formControlName="password"
        [errorStateMatcher]="matcherPwd"
        id="senhaCadastrar">
        <mat-error *ngIf="pwdFormControl.hasError('minlength') && !pwdFormControl.hasError('required')">
          A senha deve conter, no mínimo, 8 caracteres
        </mat-error>
        <mat-error *ngIf="pwdFormControl.hasError('maxlength') && !pwdFormControl.hasError('required')">
          A senha deve conter, no máximo, 20 caracteres
        </mat-error>
        <mat-error *ngIf="pwdFormControl.hasError('pattern') && !pwdFormControl.hasError('required')">
          A senha deve conter apenas letras e números
        </mat-error>
        <mat-error *ngIf="pwdFormControl.hasError('required')">
          Senha é <strong>obrigatório</strong>
        </mat-error>
        <mat-hint>Sua senha deve ter entre 8 e 20 caracteres, os quais devem ser letras e números.</mat-hint>
      </mat-form-field>

      <mat-form-field class="inputCadastrar">
        <mat-label>Confirmar Senha</mat-label>
        <input type="password" matInput id="confirmarSenhaCadastrar">
      </mat-form-field>
    </div>
  
    <div id="divBotao">
      <button mat-raised-button id="proximoCadastrar" (click)="cadastrar()">Próximo</button>
    </div>
  </form>
  