<div class="container-da-lista">
    <div class="container-lista-amigos">
        <app-empty-content-message *ngIf="filterUsers?.length === 0"
                                   message=" {{'PADRAO.NOT_FIND_RESULT' | translate }}">
        </app-empty-content-message>
        <!--começa card-->
        <div class="container-amigo" *ngFor="let user of filterUsers">
            <div class="container-imagem">
                <div class="informacoes-do-usuario">
                    <div>
                        <img class="imagem-perfil"
                             [src]="user?.profile?.profileImage ?
                        user.profile.profileImage:
                        'https://image.flaticon.com/icons/png/512/1361/1361728.png'"/>
                    </div>
                    <div class="informacoes">
                        <div><span><a class="nome-usuario"
                                      [routerLink]="['', user.userName]">{{user?.profile?.name}} {{user?.profile?.lastName}}</a></span>
                        </div>
                        <div><span>{{user?.userName}}</span></div>
                        <div><span>{{user?.profile?.city}}</span></div>
                    </div>
                </div>
                <div class="adicionar-amigos">
                    <span><mat-icon>person_add</mat-icon></span>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>

<!--começa card-->

