<form [formGroup]="confirmControl">

  <div>
    <img mat-card-image src="assets/images/logo-bbooks-branco.png" alt="logo bbooks transparente">
  </div>
  <div>
    <span>Faça login para confirmar seu cadastro</span>
  </div>

  <div>
    <mat-form-field class="inputConfirmarCadastro">
      <mat-label>Email</mat-label>
      <input matInput id="emailConfirmarCadastro" formControlName="email">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="inputConfirmarCadastro">
      <mat-label>Senha</mat-label>
      <input type="password" matInput id="senhaConfirmarCadastro" formControlName="password">
    </mat-form-field>
  </div>

  <div>
    <button mat-raised-button id="entrarConfirmarCadastro" (click)="confirm()">Entrar</button>
  </div>
</form>