.example-spacer {
    flex: 1 1 auto;
  }
.iconbbooks{
  margin-top: 10px;
  width: 30px;
  height: 30px;
  border: none;
  outline:none;
  border : 0;
}
.iconbbooks:hover{
  transition: all .2s linear;
  cursor: pointer;

}

.imagem-perfil {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: auto;
  margin-right: 10px;
}





#search-bt {
	color: white;
}

.container-da-lista {
    width: 100%;
    height: 800px;
    background-color: #f2f2f2;
    padding: 20px 0px;
}

.container-lista-amigos {
    width: 268px;
    height: auto;
	margin-left: auto !important;
    margin-right: auto !important;
    margin: 1px solid black;
}

.informacoes {
    width: 173px;
    padding: 10px;
}

.informacoes p {
    width: 173px;
    word-wrap: break-word;
}

.imagem-perfil-notificacao {
    width: 35px;
    height: 35px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}

.container-amigo{
    padding: 10px;
    width: 248px;
    height: auto;
}

.container-imagem {
    flex-direction: row;
    display: flex;
}

.container-imagem:hover {
    cursor: pointer;
    background-color:rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.adicionar-amigos, .titulo-notificacao {
    width: 100%;
    text-align: center;
}

.nome-usuario {
    color: black;
}

.adicionar-amigos {
    padding: 5px 0px;
}