<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color nav-bar" class="nav-bar"
    [containerInside]="false">
    <mdb-navbar-brand><a class="navbar-brand" href="#">BBooks</a></mdb-navbar-brand>
    <links fxLayout="row" *ngIf="auth.getToken() === null">
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item" fxLayoutAlign="center center">

                <a class="nav-link">
                    <mdb-icon fab icon="google-plus"></mdb-icon>
                </a>
            </li>
            <li class="nav-item" fxLayoutAlign="center center">
                <a class="nav-link">
                    <mdb-icon fab icon="facebook-f"></mdb-icon>
                </a>
            </li>
            <li>
                <button mdbBtn type="button" color="secondary" rounded="true" mdbWavesEffect
                    (click)="openLoginDialog()">Login</button>
            </li>
        </ul>
    </links>
    <links fxLayout="row" *ngIf="auth.getToken() != null">
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li>
                <button mdbBtn type="button" color="secondary" rounded="true" mdbWavesEffect
                    (click)="logout()">Sair</button>
            </li>
        </ul>
    </links>
</mdb-navbar>