<form [formGroup]="pesquisarUsuarios"  class="form-inline mr-auto" fxLayout="row">
    <div fxFlex="100" fxLayoutAlign="center center">
        <mat-form-field fxFlex="40" style="margin: 25px;">
            <mat-label>Procurar amigos</mat-label>
            <input matInput matInput type="text" fxFlex="40" #nome (keyup)="pesquisar(nome)">
        </mat-form-field>
        <button mat-raised-button color="accent" id="search-bt" type="submit">Buscar</button>
    </div>
</form>
<div class="container-lista-amigos">
    <form [formGroup]="formRecommendation">
        <mat-form-field class="example-full-width">
            <mat-label>Comentário</mat-label>
            <textarea matInput formControlName="comment"></textarea>
        </mat-form-field>
    </form>
    <!--começa card-->
    <div class="container-amigo" *ngFor="let user of filterUsers">
        <div class="container-imagem">
            <div>
                <img class="imagem-perfil"
                [src]="user?.profile?.profileImage ?
                 user.profile.profileImage:
                'https://image.flaticon.com/icons/png/512/1361/1361728.png'"/>
            </div>
            <div class="informacoes">
                <div><span><a class="nome-usuario" [routerLink]="['', user.userName]">{{user?.profile?.name}} {{user?.profile?.lastName}}</a></span></div>
                <div><span>{{user?.userName}}</span></div>
                <div><span>{{user?.profile?.city}}</span></div>
            </div>
            <div class="adicionar-amigos">
                <button type="button" mat-flat-button color="accent" 
                (click)="referBook(user?.profile?.id)">
                    {{'ESTANTE.BOTAO_INDICAR' | translate}}
                </button>
           </div>
        </div>
        <mat-divider></mat-divider>
    </div>
</div>
