<form [formGroup]="pesquisarUsuarios"  class="form-inline mr-auto">
    <div class="container-pesquisar" style="width: 100%">
        <mat-form-field style="margin: 25px;" appearance="outline">
            <mat-label>{{'PESQUISAR_AMIGOS.PROCURAR' | translate}}</mat-label>
            <input matInput matInput type="text" id="user" formControlName="user"  #nome (keyup)="pesquisar(nome)" (blur)="pesquisar(nome)">
        </mat-form-field>
    </div>
</form>
<div class="container-lista-amigos">
    <form [formGroup]="formRecommendation" *ngIf="!data.indicateMember">
        <mat-form-field class="example-full-width">
            <mat-label>{{'PESQUISAR_AMIGOS.COMENTARIO' | translate}}</mat-label>
            <textarea matInput formControlName="comment"></textarea>
        </mat-form-field>
    </form>
    <!--começa card-->
    <app-empty-content-message *ngIf="filterUsers?.length === 0"
                               message=" {{'PADRAO.NOT_FRIEND' | translate }}">
    </app-empty-content-message>
    <div class="container-amigo" *ngFor="let user of filterUsers">
        <div class="container-imagem">
            <div>
                <div class="informacoes-do-usuario">
                    <div class="container-imagem-perfil">
                        <img class="imagem-perfil"
                        [src]="user?.profile?.profileImage ?
                        user.profile.profileImage:
                        'https://image.flaticon.com/icons/png/512/1361/1361728.png'"/>
                    </div>
                    <div class="informacoes">
                        <div><span><a class="nome-usuario" [routerLink]="['', user.userName]">{{user?.profile?.name}} {{user?.profile?.lastName}}</a></span></div>
                        <div><span>{{user?.userName}}</span></div>
                        <div><span>{{user?.profile?.city}}</span></div>
                    </div>
                </div>
            </div>
            <div class="adicionar-amigos">
                <button *ngIf="!data.indicateMember" type="button" mat-flat-button color="accent"
                (click)="referBook(user?.profile?.id)">
                    {{'ESTANTE.BOTAO_INDICAR' | translate}}
                </button>
                <button type="button" mat-flat-button color="accent" *ngIf="data.indicateMember"
                        (click)="inviteToGroup(user?.id)">
                    {{'GRUPO_LEITURA.CONVIDAR' | translate}}
                </button>
           </div>
        </div>
        <mat-divider></mat-divider>
    </div>
</div>
