<div class="container-conteudo">
    <div class="conteudo">
       <div class="container-imagem-perfil">
          <img class="imagem-perfil" src="assets/images/imagem-perfil.png" alt="imagem de perfil"> 
       </div>
       <h1 class="nome-usuario">NOME SOBRENOME</h1>
       <div class="container-menu-opcoes">
        <a href="perfil#h2-informacoes-usuario">Informações do Usuário</a>
        <a href="perfil#h2-alterar-senha">Alterar Senha</a>
        <a href="perfil#h2-alterar-senha">Amigos</a>
        <a href="perfil#h2-alterar-senha">Estante</a>
        <a href="perfil#h2-alterar-senha">Estatística</a>
       </div>
  
       <div class="container-cards">
          <mat-card class="card">
             <mat-card-header>
                <mat-card-title>
                   <h2 name="h2-informacoes-usuario" id="h2-informacoes-usuario">Informações do Usuário</h2>
                </mat-card-title>
                <mat-card-subtitle>Todos os dados cadastrados do usuário.</mat-card-subtitle>
             </mat-card-header>
             <mat-card-content>
                <mat-expansion-panel>
                   <mat-expansion-panel-header>
                      <mat-panel-title>
                         Dados do Usuário
                      </mat-panel-title>
                   </mat-expansion-panel-header>
                   <div class="container-dados-usuario">
                      <h3 class="titulo-dados-usuario">EMAIL</h3>
                      <p class="conteudo-dados-usuario">email@email.com</p>
                   </div>
                   <mat-divider></mat-divider>
                   <div class="container-dados-usuario">
                      <h3 class="titulo-dados-usuario">NOME DE USUÁRIO</h3>
                      <div class="conteudo-dados-usuario">nome.usuario</div>
                   </div>
                   <mat-divider></mat-divider>
                   <div class="container-dados-usuario">
                      <h3 class="titulo-dados-usuario">DATA DE NASCIMENTO</h3>
                      <p class="conteudo-dados-usuario">dd/mm/aaaa</p>
                   </div>
                   <mat-divider></mat-divider>
                   <div class="container-dados-usuario">
                      <h3 class="titulo-dados-usuario">PAÍS</h3>
                      <p class="conteudo-dados-usuario">Brasil</p>
                   </div>
                   <mat-divider></mat-divider>
                   <div class="container-dados-usuario">
                      <h3 class="titulo-dados-usuario">ESTADO</h3>
                      <p class="conteudo-dados-usuario">São Paulo</p>
                   </div>
                   <mat-divider></mat-divider>
                   <div class="container-dados-usuario">
                      <h3 class="titulo-dados-usuario">CIDADE</h3>
                      <p class="conteudo-dados-usuario">São Paulo</p>
                   </div>
                </mat-expansion-panel>
             </mat-card-content>
             <mat-card-actions>
                <a href="perfil#"><button mat-button class="botao-editar">EDITAR SUAS INFORMAÇÕES DE PERFIL</button>
                </a>
             </mat-card-actions>
          </mat-card>
          <mat-card class="card">
             <mat-card-header>
                <mat-card-title>
                   <h2 name="h2-alterar-senha" id="h2-alterar-senha">Alterar Senha</h2>
                </mat-card-title>
                <mat-card-subtitle>Realize a alteração de senha do seu usuário, que dá acesso às funcionalidades do BBooks.</mat-card-subtitle>
             </mat-card-header>
             <mat-card-actions>
                <a href="nova-senha"><button mat-button class="botao-editar">ALTERE SUA SENHA</button></a>
             </mat-card-actions>
          </mat-card>
       </div>
    </div>
  </div>
  
  