.body{
  margin: 20px;
}
.buttonOferta{
  position: absolute;
  right: 0;
  margin: 20px;
}
.title{
  color: #2b2b2b;
  font-size: 18px;
}
.subtitle{
  font-size: 14px;
  color: #575962;

}
.buttonOfertaBody{
  width: 30%;
}

.card {
  max-width: 150px;
  margin: 0.5em;
  border-radius: 4px;
}

.container {
  position: relative;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  max-width: 150px;
  backface-visibility: hidden;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.container:hover {
  transition: all .2s linear;
  cursor: pointer;
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
mat-card{
  width: 500px;
}

@media screen and (max-width: 600px) {
  .buttonOferta{
    position: absolute;
  }
  .buttonOfertaBody{
    width: 80%;
  }
  .subtitle{
    font-size: 12px;
  }
  .body{
    margin: 15px;
  }
  mat-card{
    width: 90%
  }
}