<div class="container-geral">
    <div class="container-progresso">
        <h2>Andamento da Meta de Leitura</h2>
        <div class="barra-de-progresso">
            <mat-progress-bar class="progresso-andamento-meta-leitura" mode="determinate" value="66.6"></mat-progress-bar>
            <div class="porcentagem">66.6%</div>
        </div>
        <p class="quantidade-lida">2/3</p>
    </div>
    <mat-divider></mat-divider>
    <!--Começar o for dos livros-->
    <div class="container-linha-livro">
        <div class="container-imagem-livro">
            <img src='https://images-submarino.b2w.io/produtos/imagens/112237854/112237862_1SZ.jpg'>
        </div>
        <div class="container-informacoes-livro">
            <p>Nome do livro</p>
            <p>Status: Lido</p>
        </div>
    </div>
    <mat-divider></mat-divider>
    <!--Começar o for dos livros-->
    <div class="container-linha-livro">
        <div class="container-imagem-livro">
            <img src='https://images-submarino.b2w.io/produtos/imagens/112237854/112237862_1SZ.jpg'>
        </div>
        <div class="container-informacoes-livro">
            <p>Nome do livro</p>
            <p>Status: Lido</p>
        </div>
    </div>
    <mat-divider></mat-divider>
    <!--Começar o for dos livros-->
    <div class="container-linha-livro">
        <div class="container-imagem-livro">
            <img src='https://images-submarino.b2w.io/produtos/imagens/112237854/112237862_1SZ.jpg'>
        </div>
        <div class="container-informacoes-livro">
            <p>Nome do livro</p>
            <p>Status: Lendo</p>
        </div>
    </div>
</div>