<div class="container-mat-tab">
    <form class="form-inline mr-auto" fxLayout="row">
        <div class="container-pesquisar">
            <div>
                <form [formGroup]="formSearch">
                <mat-form-field appearance="outline">
                    <mat-label>{{'PESQUISAR_AMIGOS.PROCURAR' | translate}}</mat-label>
                    <input class="barra-pesquisar" matInput matInput formControlName="search" (blur)="filterMembers()" (keyup.enter)="filterMembers()">
                </mat-form-field>
                </form>
            </div>
        </div>
    </form>

    <!--começa card-->
    <div class="container-amigo">
        <p class="cargo">{{'GRUPO_LEITURA.MEMBROS' | translate}} </p>
        <div class="container-imagem" style="background-color: white">
            <div class="informacoes-do-usuario" *ngFor="let member of filterMembers(); let i= index">
                <div>
                    <img class="imagem-perfil"
                         [src]="member?.user?.profile?.profileImage ? member.user.profile.profileImage : 'https://image.flaticon.com/icons/png/512/1361/1361728.png'"/>
                </div>
                <div class="informacoes">
                    <div><span><a class="nome-usuario"></a>@{{member?.user?.userName}}</span></div>
                    <div><span>{{member?.user?.profile?.name}} {{member?.user?.profile?.lastName}}</span></div>
                </div>
                <div *ngIf="isAdmin && memberGroup?.user?.id !== member.user.id && member.role !== role.owner">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
<!--                        <button mat-menu-item>-->
<!--                            <mat-icon>block</mat-icon>-->
<!--                            <span>Bloquer membro</span>-->
<!--                        </button>-->
                        <button mat-menu-item *ngIf="member.role === role.admin" (click)="updateMemberRole(member, role.member)">
                            <mat-icon>person</mat-icon>
                            <span>{{'GRUPO_LEITURA.REMOVER_ADM' | translate}}</span>
                        </button>
                        <button mat-menu-item *ngIf="member.role === role.member" (click)="updateMemberRole(member, role.admin)">
                            <mat-icon>person</mat-icon>
                            <span>{{'GRUPO_LEITURA.ADD_ADM' | translate}}</span>
                        </button>
                        <button mat-menu-item *ngIf="member.role === role.member || member.role === role.admin" (click)="removerMember(member, i)">
                            <mat-icon>remove_circle</mat-icon>
                            <span>{{'GRUPO_LEITURA.REMOVER_MEMBRO' | translate}}</span>
                        </button>
                    </mat-menu>
                </div>
                <mat-divider></mat-divider>
            </div>
        </div>
    </div>
</div>