<div class="container-mat-tab">
    <form class="form-inline mr-auto" fxLayout="row">
        <div class="container-pesquisar">
            <div>
                <mat-form-field>
                    <mat-label>{{'PESQUISAR_AMIGOS.PROCURAR' | translate}}</mat-label>
                    <input class="barra-pesquisar" matInput matInput type="text">
                </mat-form-field>
            </div>
            <div class="botao-pesquisar">
                <button mat-raised-button color="accent" id="search-bt" type="submit">{{'PADRAO.BUSCAR' | translate}}</button>
            </div>
        </div>
    </form>

    <p class="cargo">{{'GRUPO_LEITURA.ADMINISTRADORES' | translate}} - 3</p>
    <!--começa card-->
    <div class="container-amigo">
        <div class="container-imagem">
            <div class="informacoes-do-usuario">
                <div> 
                    <img class="imagem-perfil"
                    src="https://image.flaticon.com/icons/png/512/1361/1361728.png"/>
                </div>
                <div class="informacoes">
                    <div><span><a class="nome-usuario">Fulano da Silva</a></span></div>
                    <div><span>fulano-silva</span></div>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>
    <!--começa card-->
    <div class="container-amigo">
        <div class="container-imagem">
            <div class="informacoes-do-usuario">
                <div> 
                    <img class="imagem-perfil"
                    src="https://image.flaticon.com/icons/png/512/1361/1361728.png"/>
                </div>
                <div class="informacoes">
                    <div><span><a class="nome-usuario">Fulano da Silva</a></span></div>
                    <div><span>fulano-silva</span></div>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>
    <!--começa card-->
    <div class="container-amigo">
        <div class="container-imagem">
            <div class="informacoes-do-usuario">
                <div> 
                    <img class="imagem-perfil"
                    src="https://image.flaticon.com/icons/png/512/1361/1361728.png"/>
                </div>
                <div class="informacoes">
                    <div><span><a class="nome-usuario">Fulano da Silva</a></span></div>
                    <div><span>fulano-silva</span></div>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>

    <p class="cargo">{{'GRUPO_LEITURA.MEMBROS' | translate}} - 2</p>
    <!--começa card-->
    <div class="container-amigo">
        <div class="container-imagem">
            <div class="informacoes-do-usuario">
                <div> 
                    <img class="imagem-perfil"
                    src="https://image.flaticon.com/icons/png/512/1361/1361728.png"/>
                </div>
                <div class="informacoes">
                    <div><span><a class="nome-usuario">Fulano da Silva</a></span></div>
                    <div><span>fulano-silva</span></div>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>
    <!--começa card-->
    <div class="container-amigo">
        <div class="container-imagem">
            <div class="informacoes-do-usuario">
                <div> 
                    <img class="imagem-perfil"
                    src="https://image.flaticon.com/icons/png/512/1361/1361728.png"/>
                </div>
                <div class="informacoes">
                    <div><span><a class="nome-usuario">Fulano da Silva</a></span></div>
                    <div><span>fulano-silva</span></div>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>
</div>
