<div class="container-geral">
    <div class="container-titulo-pagina">
        <h2>Metas Anteriores</h2>
    </div>

    <div class="container-metas-anteriores">
        <mat-accordion>
            <mat-expansion-panel *ngFor="let previousGoal of previousGoals" (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    {{previousGoal?.year}}
                </mat-panel-title>
                <mat-panel-description>
                  100% Concluído
                </mat-panel-description>
              </mat-expansion-panel-header>
            <!--Começar o for dos livros-->
              <div class="container-linha-livro" *ngFor="let book of previousGoal?.targets">
                <div class="container-imagem-livro">
                    <img src='https://images-submarino.b2w.io/produtos/imagens/112237854/112237862_1SZ.jpg'>
                </div>
                <div class="container-informacoes-livro">
                    <p>{{book.id}}</p>
                    <p>Status: {{book?.status}}</p>
                </div>
            </div>
            <mat-divider></mat-divider>
            </mat-expansion-panel>
          </mat-accordion>
    </div>
</div>