<div class="container-grupo">
    <div class="container-cabecalho-grupo">
        <div class="container-detalhes-cabecalho">
            <div class="informacoes-grupo">
                <h1>Nome do Grupo</h1>
                <p>Grupo Público - 30 membros</p>
            </div>
            <div class="botao-convidar-grupo">
                <button>Convidar Amigo</button>
            </div>
        </div>
        <div>
            <p>Menu</p>
        </div>
    </div>
    <div class="container-corpo-grupo">
        <div class="container-feed-grupo">
            <p>Feed</p>
        </div>
        <div class="container-detalhes-grupo">
            <h2>Sobre</h2>
            <p>Descrição do grupo</p>
            <h3>Público</h3>
            <p>Descrição do tipo de privacidade</p>
        </div>
    </div>

</div>