<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color nav-bar" class="nav-bar"
            [containerInside]="false">
    <mdb-navbar-brand><a class="navbar-brand" href="#">BBooks</a></mdb-navbar-brand>
    <links fxLayout="row">
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item" fxLayoutAlign="center center">

                <a class="nav-link">
                    <mdb-icon fab icon="google-plus"></mdb-icon>
                </a>
            </li>
            <li class="nav-item" fxLayoutAlign="center center">
                <a class="nav-link">
                    <mdb-icon fab icon="facebook-f"></mdb-icon>
                </a>
            </li>
            <li>
<!--                <button mdbBtn type="button" color="secondary" rounded="true" mdbWavesEffect-->
<!--                        (click)="openLoginDialog()">Login</button>-->
            </li>
        </ul>
    </links>
</mdb-navbar>

<div class="container-fluid">

    <div class="row justify-content-start">
        <div class="col-md">
            <br>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-md-1">
        </div>
        <div class="col-md-2" style="background-color: #FAF6FA">
            <app-book-menu></app-book-menu>
        </div>

        <div class="col-md">
                <router-outlet></router-outlet>
        </div>
        <div class="col-md-1">
        </div>
        <!--        <div class="col-md-3">-->
        <!--&lt;!&ndash;            <app-book-form></app-book-form>&ndash;&gt;-->
        <!--        </div>-->
    </div>
</div>
