<div class="form">
    <form [formGroup]="loginControl" (submit)="login()">

        <div>
            <img mat-card-image src="assets/images/logo-bbooks-branco.png" alt="logo bbooks transparente">
        </div>
        <div>
            <span>Informe seus dados</span>
        </div>

        <div>
            <mat-form-field class="input-style">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="input-style">
                <mat-label>Senha</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>
        </div>

        <div>
            <button mat-raised-button id="entrar">Confirmar</button>
        </div>
        <a [routerLink]="['/recuperar-senha']" style="margin-top: 15px;">
            Esqueceu sua senha?
        </a><br>
        <a [routerLink]="['/cadastro']" style="margin-top: 15px;">
            Cadastro
        </a>
    </form>
    <div>
        <button mat-raised-button (click)="loginGoogle()">Login google</button>
    </div>
</div>
<!-- <mdb-card>

    <mdb-card-header class="secondary-color white-text text-center py-4">
      <h5>
        <strong>Login</strong>
      </h5>
    </mdb-card-header>
    <mdb-card-body class="px-lg-5 pt-0">
  
      <form [formGroup]="loginControl" class="text-center" style="color: #757575;">
  
        <div class="md-form">
          <input type="email" id="materialLoginFormEmail" class="form-control" mdbInput formControlName="email">
          <label for="materialLoginFormEmail">E-mail</label>
        </div>
  
        <div class="md-form">
          <input type="password" id="materialLoginFormPassword" class="form-control" mdbInput formControlName="password">
          <label for="materialLoginFormPassword">Senha</label>
        </div>
  
        <div class="d-flex justify-content-around">
          <div>
            <mdb-checkbox formControlName="keepLogin">Lembrar de mim</mdb-checkbox>
          </div>
          <div>
            <a href="">Esqueceu a senha?</a>
          </div>
        </div>
  
        <button mdbBtn color="secondary" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
        (click)="login()">Entrar</button>
  
        <p>Novo por aqui?
          <a href="http://localhost:4200/cadastro">Registrar</a>
        </p>
  
        <p>Logar com</p>
        <a type="button" mdbBtn floating="true" color="fb" size="sm">
          <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
        <a type="button" mdbBtn floating="true" color="tw" size="sm">
          <mdb-icon fab icon="google"></mdb-icon>
        </a>

      </form>
  
    </mdb-card-body>
  
  </mdb-card> -->
