.input-style {
    width: 100%;
}
.texto {
    color: #2a2b2d;
}

.form {
    border: 1px solid #dadce0;
    border-radius: 10px;
    padding: 30px 40px 35px;
    width: 400px;
    height: auto;
    min-height: 350px;
    margin: 50px auto 0px;
    box-sizing: border-box;
    text-align: center;
}

button#entrar {
    color: #FFFFFF;
    background-color: #394A59;
}

button#entrar, #entrarGoogle {
    width: 100%;
}

button#entrar:hover, #entrarGoogle:hover{
    opacity: 80%;
}

#entrarGoogle {
    color: #394A59;
}

#recuperarSenha, #criarConta, #botaoLogarGoogle {
    margin-top: 10px;
}

#divisor {
    margin-top: 15px;
    margin-bottom: 5px;
}

@media screen and (max-width: 600px){
    .form {
        border: none;
        width: 100%;
        margin: auto 0px;
    }
    div {
        padding: 7px;
    }

    #recuperarSenha, #criarConta, #botaoLogarGoogle, #botaoLogar {
        padding: 0px;
    }
}
