.input-style {
    width: 100%;
}
.texto {
    color: #2a2b2d;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
.form {
    border: 1px solid #dadce0;
    border-radius: 10px;
    padding: 30px 40px 35px;
    width: 400px;
    height: auto;
    min-height: 350px;
    margin: 50px auto 0px;
    box-sizing: border-box;
    text-align: center;
    background-color: white;
}
//button#entrar {
//    color: #FFFFFF;
//    background-color: #394A59;
//}
//
//button#entrar, #entrarGoogle {
//    width: 100%;
//}
//
//button#entrar:hover, #entrarGoogle:hover{
//    opacity: 80%;
//}

//#entrarGoogle {
//    color: #394A59;
//}

#recuperarSenha, #criarConta, #botaoLogarGoogle {
    margin-top: 10px;
}

#divisor {
    margin-top: 15px;
    margin-bottom: 5px;
}
.mat-raised-button{
    width: 100%;
}
//.mat-raised-button:hover {
//    opacity: 80%;
//}

.login-facebook {
    background-color: white;
    color: #1877F2;
}

.login-google i {
    color:#4285f4;
    font-size: 17px;
}

@media screen and (max-width: 600px){
    .form {
        border: none;
        width: 100%;
        margin: auto 0px;
        height: 100%;
    }
    div {
        padding: 7px;
    }

    #recuperarSenha, #criarConta, #botaoLogarGoogle, #botaoLogar {
        padding: 0px;
    }
}
