<mat-dialog-content>
    <div fxLayout="column" fxLayoutAlign="space-around center">

        <h2 mat-dialog-title>{{title}}</h2>
        <!-- Form -->
        <mat-card class="card">
            <div class="cardImage">
                <img async src="{{Book.image}}">
            </div>
            <hr
                    style="height:2px;border-width:0;background-color:#36BF7F">
            <mat-card-actions fxLayout>
            </mat-card-actions>
        </mat-card>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <form [formGroup]="formBook">
        <!--Linha form-->
        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-between center">
            <mat-form-field appearance="fill">
                <mat-label>Estante</mat-label>
                <mat-select formControlName="statusBook">
                    <mat-option *ngFor="let bookcase of bookCases" [value]="bookcase">
                        {{mapStatus.get(bookcase) | titlecase}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Tag</mat-label>
                <mat-select formControlName="tag">
                    <mat-option *ngFor="let tag of tags" [value]="tag">
                        {{tag.name | titlecase}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <button type="button" mat-flat-button color="accent"
                [disabled]="formBook.invalid"
                (click)="saveBook()"
                mat-button [mat-dialog-close]>
            {{this.buttonText}}
        </button>
        <mat-error *ngIf="formBook.controls['statusBook'].hasError('required')">
            Estante é obrigatório
        </mat-error>
        <mat-error *ngIf="formBook.controls['tag'].hasError('required')">
            Tag é obrigatório
        </mat-error>

    </form>
</mat-dialog-actions>
