<div class="container-grupo">
    <div class="container-cabecalho-grupo">
        <div class="container-detalhes-cabecalho">
            <div class="informacoes-grupo">
                <h1>{{groupTO?.name}}</h1>
                <p>{{'GRUPO_LEITURA.GRUPO' | translate}} {{'PADRAO.' + mapPostPrivacy.get(groupTO.privacy) | translate}} - 30 {{'GRUPO_LEITURA.MEMBROS' | translate}}</p>
            </div>
            <div class="botao-convidar-grupo">
                <button type="button" mat-raised-button color="primary"><span class="material-icons">add</span>{{'GRUPO_LEITURA.CONVIDAR' | translate}}</button>
            </div>
            <div class="botao-convidar-grupo">
                <button type="button" mat-raised-button color="primary" *ngIf="groupTO.privacy.toString() === 'public_all'" (click)="enterGroup()"><span class="material-icons">add</span>{{'PADRAO.ENTER_' | translate}}</button>
            </div>
        </div>
    </div>
    <div class="container-corpo-grupo">
        <div class="container-tab-group">
            <nav mat-tab-nav-bar >
                <a mat-tab-link *ngFor="let link of links"
                   routerLinkActive #rla="routerLinkActive"
                   [routerLink]="link"
                   [active]="rla.isActive"
                >{{'GRUPO_LEITURA.' + link | translate | titlecase}} </a>
            </nav>
            <div class="container-mat-tab">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>


  