<div class="container-geral">
    <h2>Livro do mês de Janeiro</h2>

    <div>
        <!-- Começa aqui -->
        <div class="container-linha-livro">
            <div class="container-imagem-livro">
                <img src="http://lojasaraiva.vteximg.com.br/arquivos/ids/12103324/1008971490.jpg?v=637142226199630000">
            </div>
            <div class="container-informacoes-livro">
                <p>Nome do Livro</p>
                <p>Nome do Grupo</p>
            </div>
        </div>
        <!-- Começa aqui -->
        <div class="container-linha-livro">
            <div class="container-imagem-livro">
                <img src="http://lojasaraiva.vteximg.com.br/arquivos/ids/12103324/1008971490.jpg?v=637142226199630000">
            </div>
            <div class="container-informacoes-livro">
                <p>Nome do Livro</p>
                <p>Nome do Grupo</p>
            </div>
        </div>
    </div>
</div>