<div fxLayout="row" fxLayoutAlign="end center">
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>help_outline</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <div mat-menu-item>
            <mat-icon class="iconStatusLidos">turned_in</mat-icon>
            <span>Lidos</span>
        </div>
        <div mat-menu-item>
            <mat-icon class="iconStatusLendo" >turned_in</mat-icon>
            <span>Lendo</span>
        </div>
        <div mat-menu-item>
            <mat-icon class="iconStatusQueroLer">turned_in</mat-icon>
            <span>Quero ler</span>
        </div>
        <div mat-menu-item>
            <mat-icon class="iconStatusEmprestado">turned_in</mat-icon>
            <span>Emprestado</span>
        </div>
        <div mat-menu-item>
            <mat-icon class="iconStatusRelendo">turned_in</mat-icon>
            <span>Relendo</span>
        </div>
        <div mat-menu-item>
            <mat-icon class="iconStatusInterrompido">turned_in</mat-icon>
            <span>Interrompido</span>
        </div>
    </mat-menu>
</div>

<div *ngFor="let bookcase of bookCases">
    <app-carrousel [books]="bookcase.books" [nameTag]="bookcase.description" [idTag]="bookcase.id"></app-carrousel>
</div>
