<div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="center end" fxLayoutGap="20px"
     fxLayoutAlign.xs="space-around center">

    <mat-form-field >
        <mat-label>Encontrar Amigos</mat-label>
        <input matInput type="text" >
    </mat-form-field>
</div>

<div fxLayout="column" fxLayoutAlign="space-evenly center" >
    <div fxLayout="row" fxLayoutAlign="space-between center"*ngFor="let friend of friendShip?.friends" fxLayoutGap="10px" >
        <div class="card" >
            <div class="container">
                <img [src]="friend?.profileImage" class="image" >
            </div>
        </div>
        <div fxFlex="100px">
            <p><b>Pedro pedrino</b></p>
        </div>
        <div>
            <button  mat-raised-button color="accent" class="iconTextWhite">
                <mat-icon>
                    people_alt
                </mat-icon>
                Amigos
            </button>
        </div>
    </div>

</div>

