<div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="center end" fxLayoutGap="20px"
     fxLayoutAlign.xs="space-around center">

    <mat-form-field >
        <mat-label>Encontrar Amigos</mat-label>
        <input matInput type="text" >
    </mat-form-field>
</div>

<div fxLayout="column" fxLayoutAlign="space-evenly center" >
    <div fxLayout="row" fxLayoutAlign="space-between center"*ngFor="let friend of friendShip?.friends" fxLayoutGap="10px" >
        <div class="card" >
            <div class="container">
                <img [src]="friend?.profileImage ? friend.profileImage : 'https://image.flaticon.com/icons/png/512/1361/1361728.png'" class="image" >
            </div>
        </div>
        <div>
            <div><b>{{friend?.name}} {{friend?.lastName}}</b></div>
        </div>
        <div>
            <button  mat-raised-button color="accent" class="iconTextWhite">
                <mat-icon>
                    people_alt
                </mat-icon>
                Amigos
            </button>
        </div>
    </div>

</div>

