
<div fxLayout="row" fxLayoutAlign="start center" class="body"
     fxLayout.xs="column" fxLayoutAlign.xs ="center start">
    <div  fxFlex="12">
        <b class="title">Minhas ofertas</b>
    </div>
    <div class="subtitle" fxLayout="row">
        <div>
            <span class="material-icons">home</span>
            <span class="material-icons">keyboard_arrow_right</span>
        </div>
        <div>
            Minhas ofertas
        </div>
    </div>
    <button mat-raised-button color="accent" class="buttonOferta" routerLink="create">
        Nova oferta
    </button>
</div>
<div>
    <div fxLayout="row" fxLayoutAlign="space-evenly center" >
        Você não possui nenhuma oferta cadastrada.
    </div>
    <br>
    <div fxLayout="row" fxLayoutAlign="space-evenly center" >
        <button mat-raised-button color="accent"  class="buttonOfertaBody" routerLink="create">
            Cadastrar nova oferta
        </button>
    </div>
</div>


