<div fxLayout="row" fxLayoutAlign="start center" *ngIf="books.length > 0" [routerLink]="[ routerlink ,genre]">
    <div class="buttonCarousel" fxLayout="row" fxLayoutAlign="start center" fxFlex matRipple fxLayoutGap="5px">
        <span class="textButtonCarrousel" fxFlexOffset="1" fxFlex="nogrow">{{genre | titlecase}}</span>
        <mat-icon class="iconColor" fxFlexOffset="10">arrow_forward</mat-icon>
    </div>
</div>
<owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let book of books">
        <ng-template carouselSlide>
            <div class="card">
                <div class="container">
                    <img [src]=book.image alt="Avatar" class="image" style="width:100%"
                         [routerLink]="['/book/view', book.id]">
                    <div class="faixa" *ngIf="this.userBook">
                        <mat-icon *ngIf="book.status === bookStatus.LENDO">turned_in</mat-icon>
                        <mat-icon *ngIf="book.status === bookStatus.LIDOS">verified</mat-icon>
                    </div>
                    <div class="middle">
                        <div fxLayout="row" fxLayoutAlign="end center">
                            <button mat-icon-button *ngIf="!verifyrouter()" (click)="openDialogAddBook(book,  null)">
                                <mat-icon>playlist_add</mat-icon>
                            </button>
                            <button mat-icon-button *ngIf="verifyrouter()"
                                    (click)="openDialogAddBook(book,  this.genre)">
                                <mat-icon>reply</mat-icon>
                            </button>
                            <button mat-icon-button *ngIf="verifyrouter()">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="middleXs" *ngIf="deviceXs">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item *ngIf="!verifyrouter()" (click)="openDialogAddBook(book,  null)">
                                <mat-icon>playlist_add</mat-icon>
                                <span>Adicionar</span>
                            </button>
                            <button mat-menu-item *ngIf="verifyrouter()" (click)="openDialogAddBook(book,  this.genre)">
                                <mat-icon>reply</mat-icon>
                                <span>Mover</span>
                            </button>
                            <button mat-menu-item *ngIf="verifyrouter()">
                                <mat-icon>delete</mat-icon>
                                <span>Apagar</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <p class="textImage" fxLayout="row" fxLayoutAlign="start end">{{book.title}}</p>
            </div>
        </ng-template>
    </ng-container>
</owl-carousel-o>
