.inputSegundaEtapa {
    width: 100%;
}

form {
    border: 1px solid #dadce0;
    border-radius: 10px;
    padding: 30px 40px 35px;
    width: 800px;
    height: auto;
    min-height: 400px;
    margin: 50px auto 0px;
    box-sizing: border-box;
    text-align: center;
}

#paisEstadoCidade, #fotoNascimento {
    flex-direction: row;
    display: flex;
    gap: 10px;
}

button#botaoSegundaEtapa {
    color: #FFFFFF;
    background-color: #394A59;
}

button#botaoSegundaEtapa:hover {
    opacity: 80%;
}

#divBotao {
    text-align: right;
}

div {
    padding: 3px;
}

@media screen and (max-width: 600px){
    form {
        border: none;
        width: 100%;
        margin: auto 0px;
    }

    div {
        padding: 7px;
    }

    div#paisEstadoCidade, div#fotoNascimento {
        display: block;
        gap: 0px;
    }

    div#paisEstadoCidade mat-form-field, div#fotoNascimento mat-form-field{
        width: 100%;
    } 

}
