<div id="espaco"></div>
<form>
    <div id="cabecalho-cadastro" class="form-rows">
        <div>
            <h1 class="form-group col-md-12">BBooks</h1>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <select id="inputEstado" class="form-control">
                <option selected>País...</option>
                <option>...</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <select id="inputEstado" class="form-control">
                <option selected>Estado...</option>
                <option>...</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <select id="inputEstado" class="form-control">
                <option selected>Cidade...</option>
                <option>...</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 custom-file">
            <input type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Escolher foto de perfil...</label>
            <small id="passwordHelpBlock" class="form-text text-muted">
                Tamanho máximo de 10MB.
              </small>
          </div>
          <div class="form-group col-md-6">
            <input class="form-control" type="date" id="example-date-input">
            <small id="passwordHelpBlock" class="form-text text-muted">
                Informe sua data de nascimento.
              </small>
          </div>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
