<div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="50">
        <h2 mat-dialog-title>Insira um livro</h2>
        <!-- Form -->
        <form [formGroup]="formBook">
            <div>
                <div class="image" fxLayout="row" fxLayoutAlign="space-around center">
                    <img src="">
                </div>
                <input type="file" formControlName="image" mat-raised-button color="primary"
                       (change)="onFileChanged($event)">
            </div>
            <!--Linha form-->
            <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-between center">
                <mat-form-field fxFlex="30">
                    <mat-label>ISBN</mat-label>
                    <input formControlName="isbn" matInput placeholder="Ex. 10101010101">
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label>Título</mat-label>
                    <input formControlName="title" matInput placeholder="Ex. Sagarana">
                </mat-form-field>
            </div>
            <!--        Linha form-->
            <div fxLayout="row wrap" fxLayout.xs="column"  fxLayoutGap="10px" fxLayoutAlign="space-between center">
<!--                <mat-form-field fxFlex>-->
<!--                    <mat-label>País</mat-label>-->
<!--                    <input formControlName="country" matInput placeholder="Ex. Brasil">-->
<!--                </mat-form-field>-->
                <mat-form-field fxFlex>
                    <mat-label>Linguagem</mat-label>
                    <input formControlName="language" matInput placeholder="Ex. Português">
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label>Número de páginas</mat-label>
                    <input formControlName="pageCount" matInput placeholder="Ex. 500">
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label>Ano da puplicação</mat-label>
                    <input formControlName="publishedDate" matInput placeholder="Ex. 2009">
                </mat-form-field>
            </div>
            <!--linha form-->
            <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-between center">
                <mat-form-field fxFlex>
                    <mat-label>Editora</mat-label>
                    <input formControlName="publisher" matInput placeholder="Ex. Brasil">
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label>Editora</mat-label>
                    <input formControlName="publisher" matInput placeholder="Ex. Brasil">
                </mat-form-field>
            </div>
            <div fxLayout="row wrap" fxLayout.xs="column"fxLayoutGap="20px" fxLayoutAlign="start center">
                <h2 fxFlex="50" mat-dialog-title>Autores: </h2>
                <button type="button" mat-flat-button color="accent" (click)="this.addAuthors()">
                    Adicionar
                </button>
            </div>
            <!--        linha form-->
            <div formArrayName="authors" *ngFor="let item of authors.controls; let i = index;" fxLayout="row wrap"
                 fxLayout.xs="column"
                 fxLayoutGap="30px" fxLayoutAlign="start center">
                <mat-form-field  fxFlex="50" [formGroupName]="i">
                    <input type="text" placeholder="Authors" matInput formControlName="name"
                           [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions[i] | async" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon"
                        (click)="this.removeAuthors(1)">
                    <mat-icon>close</mat-icon>
                </button>
            </div>

            <!--        linha form-->

        </form>

        <button type="button" mat-raised-button color="primary" (click)="saveBook()"
                        [disabled]="formBook.invalid">
            Criar
        </button>
    </div>
</div>

