<div class="col-md-8">
    <mdb-card>

        <!--    <mdb-card-header class="secondary-color white-text text-center py-3">-->
        <!--        <h5>-->
        <!--            <strong>Cadastro de livros</strong>-->
        <!--        </h5>-->
        <!--    </mdb-card-header>-->

        <!--Card content-->
        <mdb-card-body class="px-lg-5 pt-0">

            <!-- Form -->
            <form [formGroup]="formBook">
                <!--Linha form-->
                <div class="form-row">
                    <div class="col-md-7">
                        <div class="row justify-content-md-end">
                            <div class="md-form">
                                <h5><strong>Insira um livro </strong></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Linha form-->
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="md-form">
                            <input mdbInput mdbValidate type="text" id="isbn" class="form-control"
                                   formControlName="isbn">
                            <label for="isbn">ISBN</label>
                            <mdb-error *ngIf="formBook.get('isbn').hasError('required')">Input invalid</mdb-error>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="md-form">
                            <input mdbInput mdbValidate type="text" id="title" class="form-control"
                                   formControlName="title">
                            <label for="title">Título</label>
                            <mdb-error *ngIf="formBook.get('title').hasError('required')">Input invalid</mdb-error>
                        </div>
                    </div>
                </div>
                <!-- Linha form -->
                <div class="form-row">
                    <div class="col-md-3">
                        <div class="md-form">
                            <input mdbInput mdbValidate type="text" id="country" class="form-control"
                                   formControlName="country">
                            <label for="country">País</label>
                            <mdb-error *ngIf="formBook.get('country').hasError('required')">Input invalid
                            </mdb-error>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-form">
                            <input mdbInput mdbValidate type="text" id="language" class="form-control"
                                   formControlName="language">
                            <label for="language">Linguagem</label>
                            <mdb-error *ngIf="formBook.get('language').hasError('required')">Input invalid
                            </mdb-error>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-form">
                            <input mdbInput mdbValidate type="text" id="pageCount" class="form-control"
                                   formControlName="pageCount">
                            <label for="pageCount">Número de páginas</label>
                            <mdb-error *ngIf="formBook.get('pageCount').hasError('required')">Input invalid
                            </mdb-error>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-form">
                            <input mdbInput mdbValidate type="text" id="publishedDate" class="form-control"
                                   formControlName="publishedDate" pattern="[0-9]+$">
                            <label for="publishedDate">Ano da puplicação</label>
                            <mdb-error *ngIf="formBook.get('publishedDate').hasError('required')">Input invalid
                            </mdb-error>
                        </div>
                    </div>
                </div>
                <!-- Linha form -->
                <div class="form-row">

                    <div class="col-md-6">
                        <div class="md-form">
                            <input mdbInput mdbValidate type="text" id="publisher" class="form-control"
                                   formControlName="publisher">
                            <label for="publisher">Editora</label>
                            <mdb-error *ngIf="formBook.get('publisher').hasError('required')">Input invalid
                            </mdb-error>
                        </div>
                    </div>
                </div>
                <!--        linnha form-->
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <input mdbInput mdbValidate type="text" id="averageRating" class="form-control"
                                   formControlName="averageRating">
                            <label for="averageRating">Avaliação</label>
                            <mdb-error *ngIf="formBook.get('averageRating').hasError('required')">Input invalid
                            </mdb-error>
                        </div>
                    </div>
                </div>
                <!--        linha form -->
                <div class="form-row">
                    <div class="col-md">
                        <div class="md-form">
                            <h5>Adicione autores ao livro: </h5>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="md-form">
                            <button type="button" class="btn btn-secondary btn-sm" (click)="this.addAuthors()">
                                Adicionar
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-row" *ngFor="let item of authors.controls; let i = index;" [formGroup]="item">
                    <div class="col-md">
                        <div class="md-form">
                            <input mdbInput mdbValidate type="text" id="nameAuthor" class="form-control"
                                   formControlName="nameAuthor">
                            <label for="nameAuthor">Autor</label>
                            <mdb-error *ngIf="authors.controls[i].hasError('required')">Input invalid</mdb-error>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="md-form">
                            <button type="button" class="btn btn-danger  btn-sm" (click)="this.removeAuthors(1)"><i
                                    class="fas fa-times fa-2x"></i></button>
                        </div>
                    </div>
                </div>


                <div class="form-row">
                    <div class="col-md">
                        <div class="row justify-content-md-end">
                            <button type="button" mdbBtn color="secondary" mdbWavesEffect
                                    [disabled]="formBook.invalid">
                                Criar
                            </button>
                        </div>
                    </div>
                </div>

            </form>
            <!-- Form -->

        </mdb-card-body>

    </mdb-card>
</div>
